.volcaFmPatchManagerContainer_Active_JanuaryA {
    filter: blur(0);
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    pointer-events: all;
    position: absolute;
    top: 0;
    transition: all 0.3s linear;
    width: 100%;
    z-index: 100;
}

.volcaFmPatchManagerContainer_Inactive_JanuaryA {
    filter: blur(10px);
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: all 0.3s linear;
    width: 100%;
    z-index: 100;
}

.volcaFmPatchManagerImageDiv_JanuaryA {
    background-image: url(https://events-168-hurdaudio.s3.amazonaws.com/volcaFMPatchManager/january/solitude_in_blue_by_machiavellicro_d5nzygg-pre.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: [col1] 6.25% [col2] 6.25% [col3] 6.25% [col4] 6.25% [col5] 12.5% [col6] 12.5% [col7] 12.5% [col8] 12.5% [col9] 12.5% [col10] 12.5% [rightEdge];
    grid-template-rows: [row1] 6.25% [row2] 6.25% [row3] 12.5% [row4] 12.5% [row5] 12.5% [row6] 12.5% [row7] 12.5% [row8] 12.5% [row9] 12.5%[rowEnd];
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 30;
}

.volcaFmPatchManagerTopBar_JanuaryA {
    backdrop-filter: blur(5px) brightness(100%) hue-rotate(135deg);
    grid-column: col1 / rightEdge;
    grid-row: row1 / row2;
}

.volcaFmPmNavImage_JanuaryA {
    cursor: pointer;
    filter: contrast(110%);
    grid-column: col1 / col2;
    grid-row: row1 / row2;
    margin: 3px 0 0 5px;
    transform: rotateZ(180deg);
    transition: all 0.2s linear;
    width: 3%;
}

.volcaFmPmNavImage_JanuaryA:hover {
    filter: contrast(130%);
    transform: rotateZ(210deg);
    transition: all 0.2s linear;
}

.volcaFmPatchManagerTitle_JanuaryA {
    color: #387bc2;
    filter: brightness(150%) saturate(400%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 36px;
    grid-column: col2 / col6;
    grid-row: row1 / row2;
    margin: 5px;
    z-index: 55;
}

.volcaFmPatchManagerSidebarManager_JanuaryA {
    backdrop-filter: blur(3px) brightness(110%) hue-rotate(180deg);
    box-sizing: border-box;
    grid-column: col1 / col3;
    grid-row: row2 / rowEnd;
    opacity: 1;
}

.volcaFmPatchManagerPanicButton_JanuaryA {
    background: transparent;
    border: none;
    color: #387bc2;
    cursor: pointer;
    filter: brightness(150%) saturate(400%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 24px;
    grid-column: col10 / rightEdge;
    grid-row: row1 / row2;
    z-index: 56;
}

.volcaFmPatchManagerLoadButton_JanuaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #387bc2;
    color: #387bc2;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #070f1a) saturate(200%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    height: 35px;
    grid-column: col6 / col7;
    grid-row: row1 / row2;
    margin: 6px 65px 0 35px;
    outline-color: #8993a1;
    padding: 0 15px;
    transition: all 0.2s linear;
    z-index: 155;
}

.volcaFmPatchManagerLoadButton_JanuaryA:hover {
    backdrop-filter: hue-rotate(-45deg);
    border: 2px solid #132742;
    color: #132742;
    filter: brightness(115%) drop-shadow(8px 8px 5px #070f1a) saturate(300%);
    transition: all 0.2s linear;
}

.volcaFmPatchManagerLoadButton_JanuaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #070f1a) invert(100%);
    transition: all 0.1s linear;
}

.volcaFmPatchManagerNameInput_JanuaryA {
    background: transparent;
    border: none;
    color: #387bc2;
    filter: brightness(150%) saturate(400%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 24px;
    left: 50%;
    outline-color: #b6d0f1;
    position: absolute;
    top: 1%;
}

.volcaFmPatchManagerUserPatchesListDiv_JanuaryA {
    backdrop-filter: blur(6px) grayscale(50%) saturate(50%);
    grid-column: col3 / col6;
    grid-row: row2 / row7;
}

.volcaFmPatchManagerUserPatchesListContainer_JanuaryA {
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [col9] 1fr [col10] 1fr [col11] 1fr [col12] 1fr [rightEdge];
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [row9] 1fr [row10] 1fr [row11] 1fr [row12] 1fr [rowEnd];
    height: 100%;
    width: 100%;
}

.volcaFmPatchManagerUserPatchesList_JanuaryA {
    background: linear-gradient(135deg, #cadbe9, #94b6d2, #838790, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #838790, #94b6d2, #cadbe9);
    border: 2px solid #9cbde1;
    border-radius: 0 0 15px 0;
    box-sizing: border-box;
    filter: brightness(75%);
    grid-column: col1 / rightEdge;
    grid-row: row1 / row12;
}

.volcaFmPatchManagerUserPatchListRealDiv_JanuaryA {
    overflow-x: hidden;
    overflow-y: scroll;
    grid-column: col3 / rightEdge;
    grid-row: row2 / row11;
}

.volcaFmPatchManagerUserPatchListRealDiv_JanuaryA::-webkit-scrollbar {
    background: transparent;
}

.volcaFmPatchManagerPatchNameDisplaytrue_JanuaryA {
    background: #387bc2;
    color: #02050d;
    cursor: grab;
    filter: brightness(110%) hue-rotate(-90deg);
    font-family: 'Tomorrow', sans-serif;
    font-size: 24px;
    margin: 4px 0;
}

.volcaFmPatchManagerPatchNameDisplaytrue_JanuaryA:active {
    cursor: grabbing;
}

.volcaFmPatchManagerPatchNameDisplayfalse_JanuaryA {
    color: #387bc2;
    cursor: grab;
    filter: brightness(110%) contrast(150%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 24px;
    margin: 4px 0;
}

.volcaFmPatchManagerPatchNameDisplayfalse_JanuaryA:active {
    cursor: grabbing;
}

.volcaFmPatchManagerPatchNameDisplayfalse_JanuaryA:hover {
    filter: brightness(150%) contrast(200%);
}

.volcaFmPatchManagerUpdateButton_JanuaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #387bc2;
    color: #387bc2;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #070f1a) saturate(200%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    height: 35px;
    grid-column: col4 / col11;
    grid-row: row12 / rowEnd;
    margin: 6px 65px 0 35px;
    outline-color: #8993a1;
    padding: 0 15px;
    transition: all 0.2s linear;
    z-index: 155;
}

.volcaFmPatchManagerUpdateButton_JanuaryA:hover {
    backdrop-filter: hue-rotate(-45deg);
    border: 2px solid #132742;
    color: #132742;
    filter: brightness(115%) drop-shadow(8px 8px 5px #070f1a) saturate(300%);
    transition: all 0.2s linear;
}

.volcaFmPatchManagerUpdateButton:active {
    filter: brightness(85%) drop-shadow(0 0 0 #070f1a) invert(100%);
    transition: all 0.1s linear;
}

.volcaFmPatchManagerPatchActionsDiv_JanuaryA {
    backdrop-filter: blur(5px) hue-rotate(-135deg);
    grid-column: col6 / col7;
    grid-row: row2 / row7;
}

.volcaFmPatchManagerPatchActionsContainer_JanuaryA {
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 2fr [col3] 1fr [rightEdge];
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [row9] 1fr [rowEnd];
    height: 100%;
    width: 100%;
}

.volcaFmPatchManagerEditLocator_JanuaryA {
    grid-column: col2 / col3;
    grid-row: row3 / row4;
}

.volcaFmPatchManagerEditActivePatchButton_JanuaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #387bc2;
    color: #387bc2;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #070f1a) saturate(200%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    height: 35px;
    grid-column: col2 / col3;
    grid-row: row3 / row4;
    margin: 6px 65px 0 35px;
    outline-color: #8993a1;
    padding: 0 15px;
    transition: all 0.2s linear;
    width: 50%;
    z-index: 155;
}

.volcaFmPatchManagerEditActivePatchButton_JanuaryA:hover {
    backdrop-filter: hue-rotate(-45deg);
    border: 2px solid #132742;
    color: #132742;
    filter: brightness(115%) drop-shadow(8px 8px 5px #070f1a) saturate(300%);
    transition: all 0.2s linear;
}

.volcaFmPatchManagerEditActivePatchButton_JanuaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #070f1a) invert(100%);
    transition: all 0.1s linear;
}

.volcaFmPatchManagerDeleteActivePatchButton_JanuaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #387bc2;
    color: #387bc2;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #070f1a) saturate(200%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    height: 35px;
    grid-column: col2 / col3;
    grid-row: row5 / row6;
    margin: 6px 65px 0 35px;
    outline-color: #8993a1;
    padding: 0 15px;
    transition: all 0.2s linear;
    width: 50%;
    z-index: 155;
}

.volcaFmPatchManagerDeleteActivePatchButton_JanuaryA:hover {
    backdrop-filter: hue-rotate(-45deg);
    border: 2px solid #132742;
    color: #132742;
    filter: brightness(115%) drop-shadow(8px 8px 5px #070f1a) saturate(300%);
    transition: all 0.2s linear;
}

.volcaFmPatchManagerDeleteActivePatchButton_JanuaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #070f1a) invert(100%);
    transition: all 0.1s linear;
}

.volcaFmPatchManagerMoveActivePatchButton_JanuaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #387bc2;
    color: #387bc2;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #070f1a) saturate(200%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 24px;
    height: 35px;
    grid-column: col2 / col3;
    grid-row: row7 / row8;
    margin: 6px 65px 0 35px;
    outline-color: #8993a1;
    padding: 0 15px;
    transition: all 0.2s linear;
    width: 50%;
    z-index: 155;
}

.volcaFmPatchManagerMoveActivePatchButton_JanuaryA:hover {
    backdrop-filter: hue-rotate(-45deg);
    border: 2px solid #132742;
    color: #132742;
    filter: brightness(115%) drop-shadow(8px 8px 5px #070f1a) saturate(300%);
    transition: all 0.2s linear;
}

.volcaFmPatchManagerMoveActivePatchButton_JanuaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #070f1a) invert(100%);
    transition: all 0.1s linear;
}

.volcaFmPatchManagerBanksDiv_JanuaryA {
    backdrop-filter: brightness(50%) contrast(160%) sepia(65%);
    grid-column: col7 / rightEdge;
    grid-row: row2 / row7;
}

.volcaFmPatchManagerBankDisplayReal_JanuaryA {
    height: 40.5vh;
    margin-left: 5%;
    margin-top: 4vh;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 95%;
}

.volcaFmPatchManagerBankDisplayReal_JanuaryA::-webkit-scrollbar {
    background: transparent;
}

.volcaFmPatchManagerBankItemDiv_JanuaryA {
    display: flex;
    height: auto;
    width: 100%;
}

.volcaFmPatchManagerBankPatchNamefalse_JanuaryA {
    background: #132742;
    color: #387bc2;
    cursor: pointer;
    filter: brightness(200%) contrast(150%) saturate(100%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 24px;
    opacity: 0.9;
    padding: 4px 3px;
    width: 75%;
}

.volcaFmPatchManagerBankPatchNamefalse_JanuaryA:hover {
    filter: brightness(200%) contrast(250%) saturate(300%);
}

.volcaFmPatchManagerBankPatchNametrue_JanuaryA {
    background: #132742;
    color: #387bc2;
    cursor: none;
    filter: brightness(220%) contrast(150%) hue-rotate(-90deg) saturate(100%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 24px;
    opacity: 0.9;
    padding: 4px 3px;
    width: 75%;
}

.volcaFmPatchManakerDeleteChar_JanuaryA {
   color: #387bc2;
    cursor: pointer;
    filter: brightness(220%) contrast(150%) saturate(100%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 24px;
    opacity: 0.9;
    padding: 4px 3px;
    width: 25px; 
}

.volcaFmPatchManakerDeleteChar_JanuaryA:hover {
    filter: invert(100%);
}

.volcaFmPatchManagerBanksContainer_JanuaryA {
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [col9] 1fr [col10] 1fr [col11] 1fr [col12] 1fr [col13] 1fr [col14] 1fr [col15] 1fr [col16] 1fr [rightEdge];
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [row9] 1fr [row10] 1fr [row11] 1fr [row12] 1fr [rowEnd];
    height: 100%;
    width: 100%;
}

.volcaFmPatchManagerBanksBar_JanuaryA {
    background: linear-gradient(90deg, #94b6d2, #16314d, #081530, #070f1a, transparent);
    display: flex;
    grid-column: col1 / rightEdge;
    grid-row: row1 / row2;
}

.volcaFmPatchManagerBanksLabel_JanuaryA {
    color: #387bc2;
    filter: brightness(50%) contrast(300%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 30px;
    transform: translateX(5px) translateY(3px);
}

.volcaFmPatchManagerBanksSelect_JanuaryA {
    background: transparent;
    border: none;
    color: #387bc2;
    filter: brightness(130%) contrast(300%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 24px;
    margin-left: 15px;
    outline-color: #8993a1;
    width: 24%;
}

.volcaFmPatchManagerAddBankButton_JanuaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #387bc2;
    color: #387bc2;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #070f1a) saturate(200%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    height: 100%;
    margin-left: 5%;
    outline-color: #8993a1;
    padding: 0 15px;
    transition: all 0.2s linear;
    width: 100px;
    z-index: 155;
}

.volcaFmPatchManagerAddBankButton_JanuaryA:hover {
    backdrop-filter: hue-rotate(-45deg);
    border: 2px solid #132742;
    color: #132742;
    filter: brightness(115%) drop-shadow(8px 8px 5px #070f1a) saturate(300%);
    transition: all 0.2s linear;
}

.volcaFmPatchManagerAddBankButton_JanuaryA:active: {
    filter: brightness(85%) drop-shadow(0 0 0 #070f1a) invert(100%);
    transition: all 0.1s linear;
}

.volcaFmPatchManagerBankDisplayContainer_JanuaryA {
    background: transparent;
    display: flex;
    grid-column: col1 / rightEdge;
    grid-row: row2 / row12;
    transform: translateY(6px);
}

.volcaFMPatchManagerBankDisplayertrue_JanuaryA {
    background: linear-gradient(135deg, #cadbe9, #94b6d2, #838790, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #838790, #94b6d2, #cadbe9);
    border: 2px solid #9cbde1;
    border-radius: 0 0 15px 0;
    box-sizing: border-box;
    filter: brightness(75%);
    height: 100%;
    opacity: 1;
    transition: all 0.8s linear;
    width: 100%;
}

.volcaFMPatchManagerBankDisplayerfalse_JanuaryA {
    background: linear-gradient(135deg, #cadbe9, #94b6d2, #838790, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, transparent, #838790, #94b6d2, #cadbe9);
    border: 2px solid #132742;
    border-radius: 0 0 15px 0;
    box-sizing: border-box;
    cursor: pointer;
    height: 100%;
    opacity: 0.5;
    transition: all 0.8s linear;
    width: 2vmin;
}

.volcaFmPatchManagerBankNameInput_JanuaryA {
    background: transparent;
    border: none;
    color: #387bc2;
    filter: brightness(130%) contrast(300%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 24px;
    grid-column: col8 / col15;
    grid-row: row12 / rowEnd;
    height: 75%;
    outline-color: #8993a1;
    transform: translateY(6px);
}

.volcaFmPatchManagerDeviceDiv_JanuaryA {
    backdrop-filter: saturate(150%);
    grid-column: col3 / col7;
    grid-row: row7 / rowEnd;
}

.volcaFmPatchManagerUserNotesDiv_JanuaryA {
    backdrop-filter: blur(3px) hue-rotate(-15deg);
    grid-column: col7 / rightEdge;
    grid-row: row7 / rowEnd;
}

.volcaFmPatchManagerUserNotesContainer_JanuaryA {
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [col9] 1fr [col10] 1fr [col11] 1fr [col12] 1fr [col13] 1fr [col14] 1fr [col15] 1fr [col16] 1fr [rightEdge];
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [row9] 1fr [row10] 1fr [row11] 1fr [row12] 1fr [rowEnd];
    height: 100%;
    width: 100%;
}

.volcaFmPatchManagerUserNotesLabel_JanuaryA {
    color: #387bc2;
    filter: brightness(30%) contrast(300%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 24px;
    grid-column: col2 / col9;
    grid-row: row1 / row2;
}

.volcaFmPatchManagerUserNotesAreafalse_JanuaryA {
    display: none;
}

.volcaFmPatchManagerUserNotesAreatrue_JanuaryA {
    background: linear-gradient(135deg, #cadbe9, #94b6d2, #838790, #838790, #94b6d2, #cadbe9);
    border: none;
    border-radius: 0 0 15px 0;
    color: #02050d;
    filter: brightness(90%) contrast(300%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    grid-column: col2 / col16;
    grid-row: row2 / rowEnd;
    margin: 5px 0;
    opacity: 0.9;
    outline-color: #8993a1;
    padding: 3px 9px;
}

.volcaFmPatchManagerDeviceContainer_JanuaryA {
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [col9] 1fr [col10] 1fr [col11] 1fr [col12] 1fr [col13] 1fr [col14] 1fr [col15] 1fr [col16] 1fr [rightEdge];
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [row9] 1fr [row10] 1fr [row11] 1fr [row12] 1fr [rowEnd];
    height: 100%;
    width: 100%;
}

.volcaFmPatchManagerDeviceImage_JanuaryA {
    filter: drop-shadow(5px 5px 15px #16314d);
    grid-column: col3 / col13;
    grid-row: row3 / rowEnd;
}

.volcaFmPatchManagerCurrentPatchDisplay_JanuaryA {
    color: #387bc2;
    filter: brightness(300%) contrast(300%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 24px;
    grid-column: col8 / col15;
    grid-row: row2 / row3;
}

.volcaFmPatchManagerSidebarContainer_JanuaryA {
    display: grid;
    grid-template-columns: [sideCol1] 1fr [sideCol2] 1fr [sideCol3] 1fr [sideCol4] 1fr [sideCol5] 1fr [sideColEnd];
    grid-template-rows: [sideRow1] 1fr [sideRow2] 1fr [sideRow3] 1fr [sideRow4] 1fr [sideRow5] 1fr [sideRow6] 1fr [sideRow7] 1fr [sideRow8] 1fr [sideRow9] 1fr [sideRow10] 1fr [sideRow11] 1fr [sideRow12] 1fr [sideRow13] 1fr [sideRow14] 1fr [sideRow15] 1fr [sideRow16] 1fr [sideRow17] 1fr [sideRow18] 1fr [sideRow19] 1fr [sideRow20] 1fr [sideRow21] 1fr [sideRow22] 1fr [sideRow23] 1fr [sideRow24] 1fr [sideRowEnd];
    height: 100%;
    width: 100%;
}

.volcaFmPatchManagerSaveButtonfalse_JanuaryA {
    display: none;
}

.volcaFmPatchManagerSaveButtontrue_JanuaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #387bc2;
    color: #387bc2;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #070f1a) saturate(200%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    grid-column: sideCol2 / sideCol5;
    grid-row: sideRow3 / sideRow4;
    height: 100%;
    margin-left: 5%;
    outline-color: #8993a1;
    padding: 0 15px;
    transition: all 0.2s linear;
    width: 100px;
    z-index: 155;
}

.volcaFmPatchManagerSaveButtontrue_JanuaryA:hover {
    backdrop-filter: hue-rotate(-45deg);
    border: 2px solid #132742;
    color: #132742;
    filter: brightness(115%) drop-shadow(8px 8px 5px #070f1a) saturate(300%);
    transition: all 0.2s linear;
}

.volcaFmPatchManagerSaveButtontrue_JanuaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #070f1a) invert(100%);
    transition: all 0.1s linear;
}

.volcaFmPatchManagerSaveAsButton_JanuaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #387bc2;
    color: #387bc2;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #070f1a) saturate(200%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 15px;
    grid-column: sideCol2 / sideCol5;
    grid-row: sideRow5 / sideRow6;
    height: 100%;
    margin-left: 5%;
    outline-color: #8993a1;
    padding: 0 15px;
    transition: all 0.2s linear;
    width: 100px;
    z-index: 155;
}

.volcaFmPatchManagerSaveAsButton_JanuaryA:hover {
    backdrop-filter: hue-rotate(-45deg);
    border: 2px solid #132742;
    color: #132742;
    filter: brightness(115%) drop-shadow(8px 8px 5px #070f1a) saturate(300%);
    transition: all 0.2s linear;
}

.volcaFmPatchManagerSaveAsButton_JanuaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #070f1a) invert(100%);
    transition: all 0.1s linear;
}

.volcaFmPatchManagerRevertButtonfalse_JanuaryA {
    display: none;
}

.volcaFmPatchManagerRevertButtontrue_JanuaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #387bc2;
    color: #387bc2;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #070f1a) saturate(200%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    grid-column: sideCol2 / sideCol5;
    grid-row: sideRow7 / sideRow8;
    height: 100%;
    margin-left: 5%;
    outline-color: #8993a1;
    padding: 0 15px;
    transition: all 0.2s linear;
    width: 100px;
    z-index: 155;
}

.volcaFmPatchManagerRevertButtontrue_JanuaryA:hover {
    backdrop-filter: hue-rotate(-45deg);
    border: 2px solid #132742;
    color: #132742;
    filter: brightness(115%) drop-shadow(8px 8px 5px #070f1a) saturate(300%);
    transition: all 0.2s linear;
}

.volcaFmPatchManagerRevertButtontrue_JanuaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #070f1a) invert(100%);
    transition: all 0.1s linear;
}

.volcaFmPatchManagerMidiOutputLabel_JanuaryA {
    color: #387bc2;
    filter: brightness(150%) contrast(300%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 15px;
    grid-column: sideCol2 / sideCol5;
    grid-row: sideRow10 / sideRow11;
}

.volcaFmPatchManagerMidiOutputSelect_JanuaryA {
    background: transparent;
    border: none;
    color: #387bc2;
    filter: brightness(150%) contrast(300%);
    grid-column: sideCol2 / sideCol5;
    grid-row: sideRow11 / sideRow12;
    font-family: 'Tomorrow', sans-serif;
    font-size: 15px;
    outline-color: #8993a1;
}

.volcaFmPatchManagerMidiChannelLabel_JanuaryA {
    color: #387bc2;
    filter: brightness(150%) contrast(300%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 15px;
    grid-column: sideCol2 / sideCol5;
    grid-row: sideRow13 / sideRow14;
}

.volcaFmPatchManagerMidiChannelInput_JanuaryA {
    background: transparent;
    border: none;
    color: #387bc2;
    filter: brightness(150%) contrast(300%);
    grid-column: sideCol3 / sideCol4;
    grid-row: sideRow14 / sideRow15;
    font-family: 'Tomorrow', sans-serif;
    font-size: 24px;
    outline-color: #8993a1;
}

.volcaFmPatchManagerShareButton_JanuaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #387bc2;
    color: #387bc2;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #070f1a) saturate(200%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    grid-column: sideCol2 / sideCol5;
    grid-row: sideRow17 / sideRow18;
    height: 100%;
    margin-left: 5%;
    outline-color: #8993a1;
    padding: 0 15px;
    transition: all 0.2s linear;
    width: 100px;
    z-index: 155;
}

.volcaFmPatchManagerShareButton_JanuaryA:hover {
    backdrop-filter: hue-rotate(-45deg);
    border: 2px solid #132742;
    color: #132742;
    filter: brightness(115%) drop-shadow(8px 8px 5px #070f1a) saturate(300%);
    transition: all 0.2s linear;
}

.volcaFmPatchManagerShareButton_JanuaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #070f1a) invert(100%);
    transition: all 0.1s linear;
}

.volcaFmPatchManagerInitButton_JanuaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #387bc2;
    color: #387bc2;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #070f1a) saturate(200%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    grid-column: sideCol2 / sideCol5;
    grid-row: sideRow19 / sideRow20;
    height: 100%;
    margin-left: 5%;
    outline-color: #8993a1;
    padding: 0 15px;
    transition: all 0.2s linear;
    width: 100px;
    z-index: 155;
}

.volcaFmPatchManagerInitButton_JanuaryA:hover {
    backdrop-filter: hue-rotate(-45deg);
    border: 2px solid #132742;
    color: #132742;
    filter: brightness(115%) drop-shadow(8px 8px 5px #070f1a) saturate(300%);
    transition: all 0.2s linear;
}

.volcaFmPatchManagerInitButton_JanuaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #070f1a) invert(100%);
    transition: all 0.1s linear;
}

.volcaFmPatchManagerDeleteCollectionButton_JanuaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #387bc2;
    color: #387bc2;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #070f1a) saturate(200%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    grid-column: sideCol2 / sideCol5;
    grid-row: sideRow21 / sideRow22;
    height: 100%;
    margin-left: 5%;
    outline-color: #8993a1;
    padding: 0 15px;
    transition: all 0.2s linear;
    width: 100px;
    z-index: 155;
}

.volcaFmPatchManagerDeleteCollectionButton_JanuaryA:hover {
    backdrop-filter: hue-rotate(-45deg);
    border: 2px solid #132742;
    color: #132742;
    filter: brightness(115%) drop-shadow(8px 8px 5px #070f1a) saturate(300%);
    transition: all 0.2s linear;
}

.volcaFmPatchManagerDeleteCollectionButton_JanuaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #070f1a) invert(100%);
    transition: all 0.1s linear;
}

.volcaFmPatchManagerAboutFmManagement_JanuaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #387bc2;
    color: #387bc2;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #070f1a) saturate(200%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    grid-column: sideCol2 / sideCol5;
    grid-row: sideRow23 / sideRow24;
    height: 100%;
    margin-left: 5%;
    outline-color: #8993a1;
    padding: 0 15px;
    transition: all 0.2s linear;
    width: 100px;
    z-index: 155;
}

.volcaFmPatchManagerAboutFmManagement_JanuaryA:hover {
    backdrop-filter: hue-rotate(-45deg);
    border: 2px solid #132742;
    color: #132742;
    filter: brightness(115%) drop-shadow(8px 8px 5px #070f1a) saturate(300%);
    transition: all 0.2s linear;
}

.volcaFmPatchManagerAboutFmManagement_JanuaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #070f1a) invert(100%);
    transition: all 0.1s linear;
}

.volcaFmPatchManagerDeletePatchGuardrail_Inactive_JanuaryA {
    background: linear-gradient(135deg, #cadbe9, #94b6d2, #838790, #94b6d2, #94b6d2, #94b6d2, #838790, #94b6d2, #cadbe9);
    border-radius: 0 0 15px 0;
    height: 20%;
    left: -55%;
    position: absolute;
    top: 20%;
    transition: all 0.5s linear;
    width: 30%;
    z-index: 200;
}

.volcaFmPatchManagerDeletePatchGuardrail_Active_JanuaryA {
    background: linear-gradient(135deg, #cadbe9, #94b6d2, #838790, #94b6d2, #94b6d2, #94b6d2, #838790, #94b6d2, #cadbe9);
    border-radius: 0 0 15px 0;
    height: 20%;
    left: 35%;
    position: absolute;
    top: 20%;
    transition: all 0.5s linear;
    width: 30%;
    z-index: 200;
}

.volcaFmPatchManagerDeletePatchGuardrailLabel_JanuaryA {
    color: #070e21;
    font-family: 'Tomorrow', sans-serif;
    font-size: 24px;
    margin: 15px 25px;
}

.volcaFmPatchManagerDeletePatchGuardrailFinePrint_JanuaryA {
    color: #070e21;
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    margin: 15px;
}

.volcaFmPatchManagerDeleteGuardrailButtonsDiv_JanuaryA {
    display: flex;
    width: 100%;
}

.volcaFmPatchManagerDeleteGuardrailButtonsDiv_JanuaryA button {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #387bc2;
    color: #387bc2;
    cursor: pointer;
    filter: brightness(70%) drop-shadow(8px 8px 5px #070f1a) saturate(100%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    height: 100%;
    margin-left: 15%;
    outline-color: #8993a1;
    padding: 0 15px;
    transition: all 0.2s linear;
    width: 100px;
    z-index: 155;
}

.volcaFmPatchManagerDeleteGuardrailButtonsDiv_JanuaryA button:hover {
    backdrop-filter: hue-rotate(-45deg);
    border: 2px solid #132742;
    color: #132742;
    filter: brightness(125%) drop-shadow(4px 4px 5px #070f1a) saturate(300%);
    transition: all 0.2s linear;
}

.volcaFmPatchManagerDeleteGuardrailButtonsDiv_JanuaryA button:active {
    filter: brightness(85%) drop-shadow(0 0 0 #070f1a) invert(100%);
    transition: all 0.1s linear;
}

.volcaFmPatchManagerSaveAsModal_Inactive_JanuaryA {
    background: linear-gradient(135deg, #cadbe9, #94b6d2, #838790, #94b6d2, #94b6d2, #94b6d2, #838790, #94b6d2, #cadbe9);
    border-radius: 0 0 15px 0;
    height: 20%;
    left: 185%;
    position: absolute;
    top: 20%;
    transition: all 0.5s linear;
    width: 30%;
    z-index: 200;
}

.volcaFmPatchManagerSaveAsModal_Active_JanuaryA {
    background: linear-gradient(135deg, #cadbe9, #94b6d2, #838790, #94b6d2, #94b6d2, #94b6d2, #838790, #94b6d2, #cadbe9);
    border-radius: 0 0 15px 0;
    height: 20%;
    left: 35%;
    position: absolute;
    top: 20%;
    transition: all 0.5s linear;
    width: 30%;
    z-index: 200;
}

.volcaFmPatchManagerSaveAsLabel_JanuaryA {
    color: #070e21;
    font-family: 'Tomorrow', sans-serif;
    font-size: 24px;
    margin: 15px 25px;
}

.volcaFmPatchManagerSaveAsInput_JanuaryA {
    background: #96a8c9;
    border: none;
    color: #070e21;
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    margin: 5px 0 20px 15%;
    outline-color: #8993a1;
    width: 70%;
}

.volcaFmPatchManagerShareModal_Inactive_JanuaryA {
    background: linear-gradient(135deg, #cadbe9, #94b6d2, #838790, #94b6d2, #94b6d2, #94b6d2, #838790, #94b6d2, #cadbe9);
    border-radius: 0 0 15px 0;
    height: 60%;
    left: 25%;
    opacity: 0;
    position: absolute;
    top: 15%;
    transform: rotateY(90deg);
    transition: all 0.5s linear;
    width: 50%;
    z-index: 200;
}

.volcaFmPatchManagerShareModal_Active_JanuaryA {
    background: linear-gradient(135deg, #cadbe9, #94b6d2, #838790, #94b6d2, #94b6d2, #94b6d2, #838790, #94b6d2, #cadbe9);
    border-radius: 0 0 15px 0;
    height: 60%;
    left: 25%;
    opacity: 1;
    position: absolute;
    top: 15%;
    transform: rotateY(0deg);
    transition: all 0.5s linear;
    width: 50%;
    z-index: 200;
}

.volcaFmPatchManagerShareLabel_JanuaryA {
    color: #070e21;
    font-family: 'Tomorrow', sans-serif;
    font-size: 24px;
    margin: 15px 25px;
}

.volcaFmPatchManagerShareForm_JanuaryA {
    border-top: 2px solid #070e21;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [col9] 1fr [col10] 1fr [col11] 1fr [col12] 1fr [col13] 1fr [col14] 1fr [col15] 1fr [col16] 1fr [colEnd];
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [row9] 1fr [row10] 1fr [row11] 1fr [row12] 1fr [row13] 1fr [rowEnd];
    height: 100%;
    width: 100%;
}

.volcaFmPatchManagerCollectionNameLabel_JanuaryA {
    color: #070e21;
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    grid-column: col2 / col7;
    grid-row: row2 / row3;
}

.volcaFmPatchManagerSubmittedByLabel_JanuaryA {
    color: #070e21;
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    grid-column: col10 / col15;
    grid-row: row2 / row3;
}

.volcaFmPatchManagerCollectionName_JanuaryA {
    color: #070e21;
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    grid-column: col3 / col8;
    grid-row: row3 / row4;
}

.volcaFmPatchManagerSubmittedBy_JanuaryA {
    color: #070e21;
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    grid-column: col11 / col16;
    grid-row: row3 / row4;
}

.volcaFmPatchManagerPublicDescriptionLabel_JanuaryA {
    color: #070e21;
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    grid-column: col2 / col9;
    grid-row: row5 / row6;
}

.volcaFmPatchManagerPublicDescription_JanuaryA {
    background: #96a8c9;
    border: none;
    border-radius: 0 0 15px 0;
    color: #070e21;
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    grid-column: col2 / col16;
    grid-row: row6 / row9;
    outline-color: #8993a1;
}

.volcaFmPatchManagerShareSubmitButton_JanuaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #387bc2;
    color: #387bc2;
    cursor: pointer;
    filter: brightness(70%) drop-shadow(8px 8px 5px #070f1a) saturate(100%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    grid-column: col6 / col8;
    grid-row: row10 / row11;
    outline-color: #8993a1;
    padding: 0 15px;
    transition: all 0.2s linear;
    z-index: 155;
}

.volcaFmPatchManagerShareSubmitButton_JanuaryA:hover {
    backdrop-filter: hue-rotate(-45deg);
    border: 2px solid #132742;
    color: #132742;
    filter: brightness(125%) drop-shadow(4px 4px 5px #070f1a) saturate(300%);
    transition: all 0.2s linear;
}

.volcaFmPatchManagerShareSubmitButton_JanuaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #070f1a) invert(100%);
    transition: all 0.1s linear;
}

.volcaFmPatchManagerShareCancelButton_JanuaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #387bc2;
    color: #387bc2;
    cursor: pointer;
    filter: brightness(70%) drop-shadow(8px 8px 5px #070f1a) saturate(100%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    grid-column: col9 / col11;
    grid-row: row10 / row11;
    outline-color: #8993a1;
    padding: 0 15px;
    transition: all 0.2s linear;
    z-index: 155;
}

.volcaFmPatchManagerShareCancelButton_JanuaryA:hover {
    backdrop-filter: hue-rotate(-45deg);
    border: 2px solid #132742;
    color: #132742;
    filter: brightness(125%) drop-shadow(4px 4px 5px #070f1a) saturate(300%);
    transition: all 0.2s linear;
}

.volcaFmPatchManagerShareCancelButton_JanuaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #070f1a) invert(100%);
    transition: all 0.1s linear;
}

.volcaFmPatchManagerDeleteCollectionModal_Inactive_JanuaryA {
    background: linear-gradient(135deg, #cadbe9, #94b6d2, #838790, #94b6d2, #94b6d2, #94b6d2, #838790, #94b6d2, #cadbe9);
    border-radius: 0 0 15px 0;
    height: 20%;
    left: 35%;
    position: absolute;
    top: -120%;
    transition: all 0.5s linear;
    width: 30%;
    z-index: 200;
}

.volcaFmPatchManagerDeleteCollectionModal_Active_JanuaryA {
    background: linear-gradient(135deg, #cadbe9, #94b6d2, #838790, #94b6d2, #94b6d2, #94b6d2, #838790, #94b6d2, #cadbe9);
    border-radius: 0 0 15px 0;
    height: 20%;
    left: 35%;
    position: absolute;
    top: 20%;
    transition: all 0.5s linear;
    width: 30%;
    z-index: 200;
}

.volcaFmPatchManagerAboutModal_Inactive_JanuaryA {
    background: linear-gradient(135deg, #cadbe9, #94b6d2, #838790, #94b6d2, #94b6d2, #94b6d2, #838790, #94b6d2, #cadbe9);
    border-radius: 0 0 15px 0;
    filter: invert(0%);
    height: 90%;
    left: 5%;
    position: absolute;
    top: 115%;
    transition: all 0.5s linear;
    width: 90%;
    z-index: 200;
}

.volcaFmPatchManagerAboutModal_Active_JanuaryA {
    background: linear-gradient(135deg, #cadbe9, #94b6d2, #838790, #94b6d2, #94b6d2, #94b6d2, #838790, #94b6d2, #cadbe9);
    border-radius: 0 0 15px 0;
    filter: invert(100%);
    height: 90%;
    left: 5%;
    position: absolute;
    top: 5%;
    transition: all 0.5s linear;
    width: 90%;
    z-index: 200;
}

.volcaFmPatchManagerAboutContentDiv_JanuaryA {
    background: #132742;
    border-radius: 0 0 15px 0;
    height: 85%;
    left: 5%;
    position: relative;
    top: 5%;
    width: 90%;
}

.volcaFmPatchManagerAboutContentDiv_JanuaryA h2 {
    color: #cadbe9;
    font-family: 'Alata', serif;
    font-size: 36px;
    margin: 5px 0 30px 30px;
}

.volcaFmPatchManagerAboutContentDiv_JanuaryA h3 {
    color: #cadbe9;
    font-family: 'Alata', serif;
    font-size: 24px;
    line-height: 1.3em;
    margin: 10px 25px 10px 45px;
    max-width: 950px;
}

.volcaFmPatchManagerAboutContentDiv_JanuaryA p {
    color: #cadbe9;
    font-family: 'Alata', serif;
    font-size: 18px;
    line-height: 1.3em;
    margin: 5px 25px 30px 25px;
    max-width: 950px;
}

.volcaFmPatchManagerAboutCloseButton_JanuaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #387bc2;
    color: #387bc2;
    cursor: pointer;
    filter: brightness(70%) drop-shadow(8px 8px 5px #070f1a) saturate(100%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    margin-left: 45%;
    margin-top: 4.5%;
    outline-color: #8993a1;
    transition: all 0.2s linear;
    z-index: 155;
}

.volcaFmPatchManagerAboutCloseButton_JanuaryA:hover {
    backdrop-filter: hue-rotate(-45deg);
    border: 2px solid #132742;
    color: #132742;
    filter: brightness(125%) drop-shadow(4px 4px 5px #070f1a) saturate(300%);
    transition: all 0.2s linear;
}

.volcaFmPatchManagerAboutCloseButton_JanuaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #070f1a) invert(100%);
    transition: all 0.1s linear;
}

.volcaFmPatchManagerCollectionLoadModal_Inactive_JanuaryA {
    background-image: url(https://events-168-hurdaudio.s3.amazonaws.com/volcaFMPatchManager/january/solitude_in_blue_by_machiavellicro_d5nzygg-pre.jpg);
    background-size: cover;
    border: 2px solid #14357a;
    box-shadow: 5px 5px 5px #12203a;
    box-sizing: border-box;
    filter: invert(0%);
    height: 40vh;
    left: -170%;
    position: absolute;
    top: 15%;
    transition: all 0.45s linear;
    width: 40%;
    z-index: 200;
}

.volcaFmPatchManagerCollectionLoadModal_Active_JanuaryA {
    background-image: url(https://events-168-hurdaudio.s3.amazonaws.com/volcaFMPatchManager/january/solitude_in_blue_by_machiavellicro_d5nzygg-pre.jpg);
    background-size: cover;
    border: 2px solid #14357a;
    box-shadow: 5px 5px 5px #12203a;
    box-sizing: border-box;
    filter: invert(0%);
    height: 40vh;
    left: 20%;
    position: absolute;
    top: 15%;
    transition: all 0.45s linear;
    width: 40%;
    z-index: 200;
}

.volcaFmPatchManagerCollectionLoadContainer_JanuaryA {
    backdrop-filter: blur(5px) hue-rotate(-30deg);
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [col9] 1fr [col10] 1fr [rightEdge];
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [row9] 1fr [rowEnd];
    height: 100%;
    width: 100%;
}

.volcaFmPatchManagerLoadTitle_JanuaryA {
    color: #cadbe9;
    filter: brightness(150%) drop-shadow(8px 8px 5px #12203a);
    font-family: 'Tomorrow', sans-serif;
    font-size: 24px;
    grid-column: col3 / col9;
    grid-row: row2 / row3;
}

.volcaFmPatchManagerLoadSelector_JanuaryA {
    background: transparent;
    border: none;
    color: #cadbe9;
    filter: brightness(150%) drop-shadow(8px 8px 5px #12203a);
    font-family: 'Tomorrow', sans-serif;
    font-size: 24px;
    grid-column: col2 / col10;
    grid-row: row4 / row5;
    outline-color: #8993a1;
}

.volcaFmPatchManagerLoadLoadButton_JanuaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #387bc2;
    color: #387bc2;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #070f1a) saturate(100%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    grid-column: col3 / col5;
    grid-row: row7 / row8;
    outline-color: #8993a1;
    transition: all 0.2s linear;
    z-index: 155;
}

.volcaFmPatchManagerLoadLoadButton_JanuaryA:hover {
    backdrop-filter: hue-rotate(-45deg);
    border: 2px solid #132742;
    color: #132742;
    filter: brightness(175%) drop-shadow(4px 4px 5px #070f1a) saturate(300%);
    transition: all 0.2s linear;
}

.volcaFmPatchManagerLoadLoadButton_JanuaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #070f1a) invert(100%);
    transition: all 0.1s linear;
}

.volcaFmPatchManagerLoadCancelButton_JanuaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #387bc2;
    color: #387bc2;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #070f1a) saturate(100%);
    font-family: 'Tomorrow', sans-serif;
    font-size: 18px;
    grid-column: col7 / col9;
    grid-row: row7 / row8;
    outline-color: #8993a1;
    transition: all 0.2s linear;
    z-index: 155;
}

.volcaFmPatchManagerLoadCancelButton_JanuaryA:hover {
    backdrop-filter: hue-rotate(-45deg);
    border: 2px solid #132742;
    color: #132742;
    filter: brightness(175%) drop-shadow(4px 4px 5px #070f1a) saturate(300%);
    transition: all 0.2s linear;
}

.volcaFmPatchManagerLoadCancelButton_JanuaryA:active {
   filter: brightness(85%) drop-shadow(0 0 0 #070f1a) invert(100%);
    transition: all 0.1s linear; 
}

.volcaFmPatchManagerPanicOff_JanuaryA {
    display: none;
}

.volcaFmPatchManagerPanicOn_JanuaryA {
    border-radius: 0 0 15px 0;
    height: 80%;
    left: 25%;
    opacity: 0.8;
    position: absolute;
    top: 10%;
    width: 80%;
    z-index: 400;
}