.volcaNubassPatchManagerContainer_Active_FebruaryA {
    filter: blur(0);
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    pointer-events: all;
    position: absolute;
    top: 0;
    transition: all 0.3s linear;
    width: 100%;
    z-index: 100;
}

.volcaNubassPatchManagerContainer_Inactive_FebruaryA {
    filter: blur(10px);
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: all 0.3s linear;
    width: 100%;
    z-index: 100;
}

.volcaNubassPatchManagerImageDiv_FebruaryA {
    background-image: url(https://events-168-hurdaudio.s3.amazonaws.com/volcaNubassPatchManager/february/milky_way_in_pearls_by_wen_astar_d3g7ul7-fullview.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: [col1] 6.25% [col2] 6.25% [col3] 6.25% [col4] 6.25% [col5] 12.5% [col6] 12.5% [col7] 12.5% [col8] 12.5% [col9] 12.5% [col10] 12.5% [rightEdge];
    grid-template-rows: [row1] 6.25% [row2] 6.25% [row3] 12.5% [row4] 12.5% [row5] 12.5% [row6] 12.5% [row7] 12.5% [row8] 12.5% [row9] 12.5%[rowEnd];
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 30;
}

.volcaNubassPatchManagerTopBar_FebruaryA {
    background: linear-gradient(90deg, #015583, #003d70);
    grid-column: col1 / rightEdge;
    grid-row: row1 / row2;
}

.volcaNubassNavImage_FebruaryA {
    cursor: pointer;
    filter: contrast(110%);
    grid-column: col1 / col2;
    grid-row: row1 / row2;
    margin: 3px 0 0 5px;
    transform: rotateZ(180deg);
    transition: all 0.2s linear;
    width: 3%;
}

.volcaNubassNavImage_FebruaryA:hover {
    filter: contrast(130%);
    transform: rotateZ(210deg);
    transition: all 0.2s linear;
}

.volcaNubassPatchManagerTitle_FebruaryA {
    color: #a9abb0;
    filter: brightness(150%) saturate(400%);
    font-family: 'Niramit', sans-serif;
    font-size: 30px;
    grid-column: col2 / col6;
    grid-row: row1 / row2;
    margin: 8px 5px 0 5px;
    z-index: 55;
}

.volcaNubassPatchManagerLoadButton_FebruaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #a9abb0;
    color: #a9abb0;
    cursor: pointer;
    filter: brightness(140%) drop-shadow(8px 8px 5px #00182c) saturate(200%);
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    height: 35px;
    grid-column: col6 / col7;
    grid-row: row1 / row2;
    margin: 6px 65px 0 35px;
    outline-color: #8c8e95;
    padding: 3px 15px;
    transition: all 0.2s linear;
    z-index: 155;
}

.volcaNubassPatchManagerLoadButton_FebruaryA:hover {
    backdrop-filter: hue-rotate(180deg);
    border: 2px solid #030710;
    color: #030710;
    filter: brightness(165%) drop-shadow(4px 4px 5px #00182c) saturate(300%);
    transition: all 0.2s linear;
}

.volcaNubassPatchManagerLoadButton_FebruaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #00182c) invert(100%);
    transition: all 0.1s linear;
}

.volcaNubassPatchManagerNameInput_FebruaryA {
    background: transparent;
    border: none;
    color: #a9abb0;
    filter: brightness(150%) saturate(400%);
    font-family: 'Niramit', sans-serif;
    font-size: 24px;
    left: 50%;
    outline-color: #8c8e95;
    position: absolute;
    top: 1%;
}

.volcaNubassPatchManagerPanicButton_FebruaryA {
    background: transparent;
    border: none;
    color: #a9abb0;
    cursor: pointer;
    filter: brightness(150%) saturate(400%);
    font-family: 'Niramit', sans-serif;
    font-size: 24px;
    grid-column: col10 / rightEdge;
    grid-row: row1 / row2;
    z-index: 56;
}

.volcaNubassPatchManagerSidebarManager_FebruaryA {
    backdrop-filter: blur(14px) brightness(140%) hue-rotate(-25deg) grayscale(50%);
    box-sizing: border-box;
    grid-column: col1 / col3;
    grid-row: row2 / rowEnd;
    opacity: 1;
}

.volcaNubassPatchManagerUserPatchesListDiv_FebruaryA {
    backdrop-filter: blur(10px) brightness(40%) sepia(40%) saturate(10%);
    grid-column: col3 / col6;
    grid-row: row2 / row7;
}

.volcaNubassPatchManagerPatchActionsDiv_FebruaryA {
    backdrop-filter: blur(15px) hue-rotate(-135deg) saturate(70%);
    grid-column: col6 / col7;
    grid-row: row2 / row7;
}

.volcaNubassPatchManagerBanksDiv_FebruaryA {
    backdrop-filter: blur(19px) brightness(50%) contrast(160%) sepia(65%);
    grid-column: col7 / rightEdge;
    grid-row: row2 / row7;
}

.volcaNubassPatchManagerDeviceDiv_FebruaryA {
    backdrop-filter: blur(11px) saturate(150%);
    grid-column: col3 / col7;
    grid-row: row7 / rowEnd;
}

.volcaNubassPatchManagerUserNotesDiv_FebruaryA {
    backdrop-filter: blur(13px) hue-rotate(-15deg);
    grid-column: col7 / rightEdge;
    grid-row: row7 / rowEnd;
}

.volcaNubassPatchManagerBanksContainer_FebruaryA {
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [col9] 1fr [col10] 1fr [col11] 1fr [col12] 1fr [col13] 1fr [col14] 1fr [col15] 1fr [col16] 1fr [rightEdge];
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [row9] 1fr [row10] 1fr [row11] 1fr [row12] 1fr [rowEnd];
    height: 100%;
    width: 100%;
}

.volcaNubassPatchManagerBanksBar_FebruaryA {
    background: linear-gradient(90deg, #544856, #015583, #003d70, transparent);
    display: flex;
    grid-column: col1 / rightEdge;
    grid-row: row1 / row2;
}

.volcaNubassPatchManagerBanksLabel_FebruaryA {
    color: #a9abb0;
    filter: brightness(150%) contrast(300%);
    font-family: 'Niramit', sans-serif;
    font-size: 30px;
    margin-top: 1px;
    transform: translateX(5px) translateY(3px);
}

.volcaNubassPatchManagerBanksSelect_FebruaryA {
    background: transparent;
    border: none;
    color: #a9abb0;
    filter: brightness(520%) contrast(300%);
    font-family: 'Niramit', sans-serif;
    font-size: 24px;
    margin-left: 15px;
    outline-color: #8c8e95;
    width: 34%;
}

.volcaNubassPatchManagerAddBankButton_FebruaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #a9abb0;
    color: #a9abb0;
    cursor: pointer;
    filter: brightness(140%) drop-shadow(8px 8px 5px #00182c) saturate(200%);
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    grid-column: col6 / col7;
    grid-row: row1 / row2;
    height: 100%;
    margin-left: 5%;
    outline-color: #8c8e95;
    padding: 6px 15px;
    transition: all 0.2s linear;
    width: 100px;
    z-index: 155;
}

.volcaNubassPatchManagerAddBankButton_FebruaryA:hover {
    backdrop-filter: hue-rotate(180deg);
    border: 2px solid #030710;
    color: #030710;
    filter: brightness(165%) drop-shadow(4px 4px 5px #00182c) saturate(300%);
    transition: all 0.2s linear;
}

.volcaNubassPatchManagerAddBankButton_FebruaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #00182c) invert(100%);
    transition: all 0.1s linear;
}

.volcaNubassPatchManagerBankDisplayContainer_FebruaryA {
    background: transparent;
    display: flex;
    flex-direction: column;
    grid-column: col1 / rightEdge;
    grid-row: row2 / row12;
    transform: translateY(6px);
    
}

.volcaNubassPatchManagerBankDisplayertrue_FebruaryA {
    background: linear-gradient(180deg, #80aac1, #80aac1, #80aac1, #80aac1, #015583, #002234);
    border: 2px groove #818388;
    box-sizing: border-box;
    filter: brightness(75%);
    height: 94%;
    opacity: 0.9;
    transition: all 0.8s linear;
    width: 100%;
}

.volcaNubassPatchManagerBankDisplayerfalse_FebruaryA {
    background: linear-gradient(180deg, #80aac1, #80aac1, #80aac1, #80aac1, #015583, #002234);
    border: 2px groove #818388;
    box-sizing: border-box;
    cursor: pointer;
    height: 1vmin;
    opacity: 0.5;
    transition: all 0.8s linear;
    width: 100%;
}

.volcaNubassPatchManagerBankNameInput_FebruaryA {
    background: transparent;
    border: none;
    color: #a9abb0;
    filter: brightness(150%) contrast(300%);
    font-family: 'Niramit', sans-serif;
    font-size: 24px;
    grid-column: col6 / col15;
    grid-row: row12 / rowEnd;
    height: 75%;
    outline-color: #8c8e95;
    transform: translateY(6px);
}

.volcaNubassPatchManagerUserPatchesListContainer_FebruaryA {
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [col9] 1fr [col10] 1fr [col11] 1fr [col12] 1fr [rightEdge];
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [row9] 1fr [row10] 1fr [row11] 1fr [row12] 1fr [rowEnd];
    height: 100%;
    width: 100%;
}

.volcaNubassPatchManagerUserPatchesList_FebruaryA {
    background: linear-gradient(180deg, #80aac1, #80aac1, #80aac1, #80aac1, #015583, #002234);
    border: 2px groove #818388;
    box-sizing: border-box;
    filter: brightness(75%);
    grid-column: col1 / rightEdge;
    grid-row: row1 / row12;
    opacity: 0.8;
}

.volcaNubassPatchManagerUpdateButton_FebruaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #a9abb0;
    color: #a9abb0;
    cursor: pointer;
    filter: brightness(140%) drop-shadow(8px 8px 5px #00182c) saturate(200%);
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    grid-column: col4 / col11;
    grid-row: row12 / rowEnd;
    height: 35px;
    margin: 2px 65px 0 35px;
    outline-color: #8c8e95;
    padding: 0 15px;
    transition: all 0.2s linear;
    z-index: 155;
}

.volcaNubassPatchManagerUpdateButton_FebruaryA:hover {
    backdrop-filter: hue-rotate(180deg);
    border: 2px solid #030710;
    color: #030710;
    filter: brightness(165%) drop-shadow(4px 4px 5px #00182c) saturate(300%);
    transition: all 0.2s linear;
}

.volcaNubassPatchManagerUpdateButton_FebruaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #00182c) invert(100%);
    transition: all 0.1s linear;
}

.volcaNubassPatchManagerPatchNameDisplaytrue_FebruaryA {
    background: #809eb8;
    color: #010206;
    cursor: grab;
    filter: brightness(110%) hue-rotate(-90deg);
    font-family: 'Niramit', sans-serif;
    font-size: 24px;
    margin: 4px 0;
}

.volcaNubassPatchManagerPatchNameDisplaytrue_FebruaryA:active {
    cursor: grabbing;
}

.volcaNubassPatchManagerPatchNameDisplayfalse_FebruaryA {
    color: #a9abb0;
    cursor: grab;
    filter: brightness(130%) contrast(150%);
    font-family: 'Niramit', sans-serif;
    font-size: 24px;
    margin: 4px 0; 
}

.volcaNubassPatchManagerPatchNameDisplayfalse_FebruaryA:active {
    cursor: grabbing;
}

.volcaNubassPatchManagerPatchNameDisplayfalse_FebruaryA:hover {
    filter: brightness(150%) contrast(200%);
}

.volcaNubassPatchManagerUserPatchListRealDiv_FebruaryA {
    grid-column: col3 / rightEdge;
    grid-row: row2 / row11; 
    overflow-x: hidden;
    overflow-y: scroll;
}

.volcaNubassPatchManagerUserPatchListRealDiv_FebruaryA::-webkit-scrollbar {
    background: transparent;
}

.volcaNubassPatchManagerBankDisplayReal_FebruaryA {
    height: 40.5vh;
    margin-left: 5%;
    margin-top: 4vh;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 95%;
}

.volcaNubassPatchManagerBankDisplayReal_FebruaryA::-webkit-scrollbar {
    background: transparent;
}

.volcaNubassPatchManagerBankItemDiv_FebruaryA {
    display: flex;
    height: auto;
    width: 100%;
}

.volcaNubassPatchManagerBankPatchNametrue_FebruaryA {
    background: #809eb8;
    color: #010206;
    cursor: none;
    filter: brightness(220%) contrast(150%) hue-rotate(-45deg) saturate(100%);
    font-family: 'Niramit', sans-serif;
    font-size: 24px;
    opacity: 0.9;
    padding: 4px 3px;
    width: 75%;
}

.volcaNubassPatchManagerBankPatchNamefalse_FebruaryA {
    background: transparent;
    color: #a9abb0;
    cursor: pointer;
    filter: brightness(170%) contrast(150%) saturate(100%);
    font-family: 'Niramit', sans-serif;
    font-size: 24px;
    opacity: 0.9;
    padding: 4px 3px;
    width: 75%;
}

.volcaNubassPatchManagerBankPatchNamefalse_FebruaryA:hover {
    filter: brightness(300%) contrast(150%) saturate(300%);
}

.volcaNubassPatchManakerDeleteChar_FebruaryA {
    color: #010206;
    cursor: pointer;
    filter: brightness(260%) contrast(150%) saturate(100%);
    font-family: 'Niramit', sans-serif;
    font-size: 24px;
    opacity: 0.9;
    padding: 4px 3px;
    width: 25px;
}

.volcaNubassPatchManakerDeleteChar_FebruaryA:hover {
    color: #015583;
    filter: brightness(100%);
}

.volcaNubassPatchManagerPatchActionsContainer_FebruaryA {
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 2fr [col3] 1fr [rightEdge];
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [row9] 1fr [rowEnd];
    height: 100%;
    width: 100%;
}

.volcaNubassPatchManagerEditLocator_FebruaryA {
    grid-column: col2 / col3;
    grid-row: row3 / row4;
}

.volcaNubassPatchManagerEditActivePatchButton_FebruaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #a9abb0;
    color: #a9abb0;
    cursor: pointer;
    filter: brightness(140%) drop-shadow(8px 8px 5px #00182c) saturate(200%);
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    height: 35px;
    margin: 6px 65px 0 35px;
    outline-color: #8c8e95;
    padding: 0 15px;
    transition: all 0.2s linear;
    width: 50%;
    z-index: 155;
}

.volcaNubassPatchManagerEditActivePatchButton_FebruaryA:hover {
    backdrop-filter: hue-rotate(180deg);
    border: 2px solid #030710;
    color: #030710;
    filter: brightness(165%) drop-shadow(4px 4px 5px #00182c) saturate(300%);
    transition: all 0.2s linear;
}

.volcaNubassPatchManagerEditActivePatchButton_FebruaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #00182c) invert(100%);
    transition: all 0.1s linear;
}

.volcaNubassPatchManagerDeleteActivePatchButton_FebruaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #a9abb0;
    color: #a9abb0;
    cursor: pointer;
    filter: brightness(140%) drop-shadow(8px 8px 5px #00182c) saturate(200%);
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    grid-column: col2 / col3;
    grid-row: row5 / row6;
    height: 35px;
    margin: 6px 65px 0 35px;
    outline-color: #8c8e95;
    padding: 0 15px;
    transition: all 0.2s linear;
    width: 50%;
    z-index: 155;
}

.volcaNubassPatchManagerDeleteActivePatchButton_FebruaryA:hover {
    backdrop-filter: hue-rotate(180deg);
    border: 2px solid #030710;
    color: #030710;
    filter: brightness(165%) drop-shadow(4px 4px 5px #00182c) saturate(300%);
    transition: all 0.2s linear;
}

.volcaNubassPatchManagerDeleteActivePatchButton_FebruaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #00182c) invert(100%);
    transition: all 0.1s linear;
}

.volcaNubassPatchManagerMoveActivePatchButton_FebruaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #a9abb0;
    color: #a9abb0;
    cursor: pointer;
    filter: brightness(140%) drop-shadow(8px 8px 5px #00182c) saturate(200%);
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    grid-column: col2 / col3;
    grid-row: row7 / row8;
    height: 35px;
    margin: 6px 65px 0 35px;
    outline-color: #8c8e95;
    padding: 0 15px;
    transition: all 0.2s linear;
    width: 50%;
    z-index: 155;
}

.volcaNubassPatchManagerMoveActivePatchButton_FebruaryA:hover {
    backdrop-filter: hue-rotate(180deg);
    border: 2px solid #030710;
    color: #030710;
    filter: brightness(165%) drop-shadow(4px 4px 5px #00182c) saturate(300%);
    transition: all 0.2s linear;
}

.volcaNubassPatchManagerMoveActivePatchButton_FebruaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #00182c) invert(100%);
    transition: all 0.1s linear;
}

.volcaNubassPatchManagerDeletePatchGuardrail_Active_FebruaryA {
    background: linear-gradient(180deg, #002234, #002234, #002234, #002234, #015583, #a9abb0);
    height: 20%;
    left: 35%;
    position: absolute;
    top: 20%;
    transition: all 0.5s linear;
    width: 30%;
    z-index: 200;
}

.volcaNubassPatchManagerDeletePatchGuardrail_Inactive_FebruaryA {
    background: linear-gradient(180deg, #002234, #002234, #002234, #002234, #015583, #a9abb0);
    height: 20%;
    left: -55%;
    position: absolute;
    top: 20%;
    transition: all 0.5s linear;
    width: 30%;
    z-index: 200;
}

.volcaNubassPatchManagerDeletePatchGuardrailLabel_FebruaryA {
    color: #a9abb0;
    filter: brightness(150%) saturate(200%);
    font-family: 'Niramit', sans-serif;
    font-size: 24px;
    margin: 15px 25px;
}

.volcaNubassPatchManagerDeletePatchGuardrailFinePrint_FebruaryA {
    color: #a9abb0;
    filter: brightness(150%) saturate(200%);
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    margin: 15px;
}

.volcaNubassPatchManagerDeleteGuardrailButtonsDiv_FebruaryA {
    display: flex;
    width: 100%;
}

.volcaNubassPatchManagerDeleteGuardrailButtonsDiv_FebruaryA button {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #a9abb0;
    color: #a9abb0;
    cursor: pointer;
    filter: brightness(140%) drop-shadow(8px 8px 5px #00182c) saturate(200%);
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    height: 120%;
    margin: 0 10%;
    outline-color: #8c8e95;
    padding: 0 15px;
    transition: all 0.2s linear;
    width: 80%;
    z-index: 155;
}

.volcaNubassPatchManagerDeleteGuardrailButtonsDiv_FebruaryA button:hover {
    backdrop-filter: hue-rotate(180deg);
    border: 2px solid #030710;
    color: #030710;
    filter: brightness(165%) drop-shadow(4px 4px 5px #00182c) saturate(300%);
    transition: all 0.2s linear;
}

.volcaNubassPatchManagerDeleteGuardrailButtonsDiv_FebruaryA button:active {
    filter: brightness(85%) drop-shadow(0 0 0 #00182c) invert(100%);
    transition: all 0.1s linear;
}

.volcaNubassPatchManagerUserNotesContainer_FebruaryA {
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [col9] 1fr [col10] 1fr [col11] 1fr [col12] 1fr [col13] 1fr [col14] 1fr [col15] 1fr [col16] 1fr [rightEdge];
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [row9] 1fr [row10] 1fr [row11] 1fr [row12] 1fr [rowEnd];
    height: 100%;
    width: 100%;
}

.volcaNubassPatchManagerUserNotesLabel_FebruaryA {
    color: #a9abb0;
    filter: brightness(150%) contrast(300%);
    font-family: 'Niramit', sans-serif;
    font-size: 24px;
    grid-column: col2 / col9;
    grid-row: row1 / row2;
}

.volcaNubassPatchManagerUserNotesAreatrue_FebruaryA {
    background: linear-gradient(180deg, #a9abb0, #a9abb0, #a9abb0, #a9abb0, #015583, #002234);
    border: none;
    color: #010206;
    filter: brightness(100%) contrast(100%);
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    grid-column: col2 / col16;
    grid-row: row2 / rowEnd;
    margin: 5px 0;
    opacity: 0.99;
    outline-color: #8c9498;
    padding: 3px 9px;
}

.volcaNubassPatchManagerUserNotesAreafalse_FebruaryA {
    display: none;
}

.volcaNubassPatchManagerDeviceContainer_FebruaryA {
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [col9] 1fr [col10] 1fr [col11] 1fr [col12] 1fr [col13] 1fr [col14] 1fr [col15] 1fr [col16] 1fr [rightEdge];
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [row9] 1fr [row10] 1fr [row11] 1fr [row12] 1fr [rowEnd];
    height: 100%;
    width: 100%;
}

.volcaNubassPatchManagerCurrentPatchDisplay_FebruaryA {
    color: #a9abb0;
    filter: brightness(150%) contrast(300%);
    font-family: 'Niramit', sans-serif;
    font-size: 24px;
    grid-column: col8 / col15;
    grid-row: row2 / row3;
}

.volcaNubassPatchManagerDeviceImage_FebruaryA {
    filter: drop-shadow(5px 5px 15px #14151b);
    grid-column: col3 / col13;
    grid-row: row3 / rowEnd;
}

.volcaNubassPatchManagerSidebarContainer_FebruaryA {
    display: grid;
    grid-template-columns: [sideCol1] 1fr [sideCol2] 1fr [sideCol3] 1fr [sideCol4] 1fr [sideCol5] 1fr [sideColEnd];
    grid-template-rows: [sideRow1] 1fr [sideRow2] 1fr [sideRow3] 1fr [sideRow4] 1fr [sideRow5] 1fr [sideRow6] 1fr [sideRow7] 1fr [sideRow8] 1fr [sideRow9] 1fr [sideRow10] 1fr [sideRow11] 1fr [sideRow12] 1fr [sideRow13] 1fr [sideRow14] 1fr [sideRow15] 1fr [sideRow16] 1fr [sideRow17] 1fr [sideRow18] 1fr [sideRow19] 1fr [sideRow20] 1fr [sideRow21] 1fr [sideRow22] 1fr [sideRow23] 1fr [sideRow24] 1fr [sideRowEnd];
    height: 100%;
    width: 100%;
}

.volcaNubassPatchManagerSaveButtonfalse_FebruaryA {
    display: none;
}

.volcaNubassPatchManagerSaveButtontrue_FebruaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #a9abb0;
    color: #a9abb0;
    cursor: pointer;
    filter: brightness(140%) drop-shadow(8px 8px 5px #00182c) saturate(200%);
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    grid-column: sideCol2 / sideCol5;
    grid-row: sideRow3 / sideRow4;
    height: 100%;
    margin-left: 5%;
    outline-color: #8c8e95;
    padding: 0 15px;
    transition: all 0.2s linear;
    width: 100px;
    z-index: 155;
}

.volcaNubassPatchManagerSaveButtontrue_FebruaryA:hover {
    backdrop-filter: hue-rotate(180deg);
    border: 2px solid #030710;
    color: #030710;
    filter: brightness(165%) drop-shadow(4px 4px 5px #00182c) saturate(300%);
    transition: all 0.2s linear;
}

.volcaNubassPatchManagerSaveButtontrue_FebruaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #00182c) invert(100%);
    transition: all 0.1s linear;
}

.volcaNubassPatchManagerSaveAsButton_FebruaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #a9abb0;
    color: #a9abb0;
    cursor: pointer;
    filter: brightness(140%) drop-shadow(8px 8px 5px #00182c) saturate(200%);
    font-family: 'Niramit', sans-serif;
    font-size: 15px;
    grid-column: sideCol2 / sideCol5;
    grid-row: sideRow5 / sideRow6;
    height: 100%;
    margin-left: 5%;
    outline-color: #8c8e95;
    padding: 0 15px;
    transition: all 0.2s linear;
    width: 100px;
    z-index: 155;
}

.volcaNubassPatchManagerSaveAsButton_FebruaryA:hover {
    backdrop-filter: hue-rotate(180deg);
    border: 2px solid #030710;
    color: #030710;
    filter: brightness(165%) drop-shadow(4px 4px 5px #00182c) saturate(300%);
    transition: all 0.2s linear;
}

.volcaNubassPatchManagerSaveAsButton_FebruaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #00182c) invert(100%);
    transition: all 0.1s linear;
}

.volcaNubassPatchManagerSaveAsModal_Inactive_FebruaryA {
    background: linear-gradient(180deg, #14151b, #14151b, #14151b, #14151b, #323544, #999aa2);
    height: 20%;
    left: 185%;
    position: absolute;
    top: 20%;
    transition: all 0.5s linear;
    width: 30%;
    z-index: 200;
}

.volcaNubassPatchManagerSaveAsModal_Active_FebruaryA {
    background: linear-gradient(180deg, #14151b, #14151b, #14151b, #14151b, #323544, #999aa2);
    height: 20%;
    left: 35%;
    position: absolute;
    top: 20%;
    transition: all 0.5s linear;
    width: 30%;
    z-index: 200;
}

.volcaNubassPatchManagerSaveAsLabel_FebruaryA {
    color: #a9abb0;
    filter: brightness(150%) saturate(200%);
    font-family: 'Niramit', sans-serif;
    font-size: 24px;
    margin: 15px 25px;
}

.volcaNubassPatchManagerSaveAsInput_FebruaryA {
    background: #809eb8;
    border: none;
    color: #010206;
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    margin: 5px 0 20px 15%;
    outline-color: #8c8e95;
    width: 70%;
}

.volcaNubassPatchManagerRevertButtonfalse_FebruaryA {
    display: none;
}

.volcaNubassPatchManagerRevertButtontrue_FebruaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #a9abb0;
    color: #a9abb0;
    cursor: pointer;
    filter: brightness(140%) drop-shadow(8px 8px 5px #00182c) saturate(200%);
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    grid-column: sideCol2 / sideCol5;
    grid-row: sideRow7 / sideRow8;
    height: 100%;
    margin-left: 5%;
    outline-color: #8c8e95;
    padding: 0 15px;
    transition: all 0.2s linear;
    width: 100px;
    z-index: 155;
}

.volcaNubassPatchManagerRevertButtontrue_FebruaryA:hover {
    backdrop-filter: hue-rotate(180deg);
    border: 2px solid #030710;
    color: #030710;
    filter: brightness(165%) drop-shadow(4px 4px 5px #00182c) saturate(300%);
    transition: all 0.2s linear;
}

.volcaNubassPatchManagerRevertButtontrue_FebruaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #00182c) invert(100%);
    transition: all 0.1s linear;
}

.volcaNubassPatchManagerMidiOutputLabel_FebruaryA {
    color: #a9abb0;
    filter: brightness(150%) saturate(300%);
    font-family: 'Niramit', sans-serif;
    font-size: 15px;
    grid-column: sideCol2 / sideCol5;
    grid-row: sideRow10 / sideRow11;
}

.volcaNubassPatchManagerMidiOutputSelect_FebruaryA {
    background: transparent;
    border: none;
    color: #a9abb0;
    filter: brightness(150%) saturate(300%);
    grid-column: sideCol2 / sideCol5;
    grid-row: sideRow11 / sideRow12;
    font-family: 'Niramit', sans-serif;
    font-size: 15px;
    outline-color: #8c8e95;
}

.volcaNubassPatchManagerMidiChannelLabel_FebruaryA {
    color: #a9abb0;
    filter: brightness(150%) saturate(300%);
    font-family: 'Niramit', sans-serif;
    font-size: 15px;
    grid-column: sideCol2 / sideCol5;
    grid-row: sideRow13 / sideRow14;
}

.volcaNubassPatchManagerMidiChannelInput_FebruaryA {
    background: transparent;
    border: none;
    color: #a9abb0;
    filter: brightness(150%) saturate(300%);
    grid-column: sideCol3 / sideCol4;
    grid-row: sideRow14 / sideRow15;
    font-family: 'Niramit', sans-serif;
    font-size: 24px;
    outline-color: #8c8e95;
}

.volcaNubassPatchManagerShareButton_FebruaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #a9abb0;
    color: #a9abb0;
    cursor: pointer;
    filter: brightness(140%) drop-shadow(8px 8px 5px #00182c) saturate(200%);
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    grid-column: sideCol2 / sideCol5;
    grid-row: sideRow17 / sideRow18;
    height: 100%;
    margin-left: 5%;
    outline-color: #8c8e95;
    padding: 0 15px;
    transition: all 0.2s linear;
    width: 100px;
    z-index: 155;
}

.volcaNubassPatchManagerShareButton_FebruaryA:hover {
    backdrop-filter: hue-rotate(180deg);
    border: 2px solid #030710;
    color: #030710;
    filter: brightness(165%) drop-shadow(4px 4px 5px #00182c) saturate(300%);
    transition: all 0.2s linear;
}

.volcaNubassPatchManagerShareButton_FebruaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #00182c) invert(100%);
    transition: all 0.1s linear;
}

.volcaNubassPatchManagerShareModal_Inactive_FebruaryA {
    background: linear-gradient(180deg, #00182c, #00182c, #00182c, #00182c, #809eb8, #003d70);
    height: 60%;
    left: 25%;
    opacity: 0;
    position: absolute;
    top: 15%;
    transform: rotateY(90deg);
    transition: all 0.5s linear;
    width: 50%;
    z-index: 200;
}

.volcaNubassPatchManagerShareModal_Active_FebruaryA {
    background: linear-gradient(180deg, #00182c, #00182c, #00182c, #00182c, #809eb8, #003d70);
    height: 60%;
    left: 25%;
    opacity: 1;
    position: absolute;
    top: 15%;
    transform: rotateY(0deg);
    transition: all 0.5s linear;
    width: 50%;
    z-index: 200;
}

.volcaNubassPatchManagerShareLabel_FebruaryA {
    color: #a9abb0;
    filter: brightness(150%) saturate(300%);
    font-family: 'Niramit', sans-serif;
    font-size: 24px;
    margin: 15px 25px;
}

.volcaNubassPatchManagerShareForm_FebruaryA {
    border-top: 2px groove #818388;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [col9] 1fr [col10] 1fr [col11] 1fr [col12] 1fr [col13] 1fr [col14] 1fr [col15] 1fr [col16] 1fr [colEnd];
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [row9] 1fr [row10] 1fr [row11] 1fr [row12] 1fr [row13] 1fr [rowEnd];
    height: 100%;
    width: 100%;
}

.volcaNubassPatchManagerCollectionNameLabel_FebruaryA {
    color: #a9abb0;
    filter: brightness(150%) saturate(300%);
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    grid-column: col2 / col7;
    grid-row: row2 / row3;
}

.volcaNubassPatchManagerCollectionName_FebruaryA {
    color: #a9abb0;
    filter: brightness(150%) saturate(300%);
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    grid-column: col3 / col8;
    grid-row: row3 / row4;
}

.volcaNubassPatchManagerSubmittedByLabel_FebruaryA {
    color: #a9abb0;
    filter: brightness(150%) saturate(300%);
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    grid-column: col10 / col15;
    grid-row: row2 / row3;
}

.volcaNubassPatchManagerSubmittedBy_FebruaryA {
    color: #a9abb0;
    filter: brightness(150%) saturate(300%);
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    grid-column: col11 / col16;
    grid-row: row3 / row4;
}

.volcaNubassPatchManagerPublicDescriptionLabel_FebruaryA {
    color: #a9abb0;
    filter: brightness(150%) saturate(300%);
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    grid-column: col2 / col9;
    grid-row: row5 / row6;
}

.volcaNubassPatchManagerPublicDescription_FebruaryA {
    background: #80aac1;
    border: none;
    color: #010206;
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    grid-column: col2 / col16;
    grid-row: row6 / row9;
    outline-color: #8c8e95;
}

.volcaNubassPatchManagerShareSubmitButton_FebruaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #a9abb0;
    color: #a9abb0;
    cursor: pointer;
    filter: brightness(140%) drop-shadow(8px 8px 5px #00182c) saturate(200%);
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    grid-column: col6 / col8;
    grid-row: row10 / row11;
    height: 100%;
    margin-left: 5%;
    outline-color: #8c8e95;
    padding: 0 15px;
    transition: all 0.2s linear;
    width: 100px;
    z-index: 155;
}

.volcaNubassPatchManagerShareSubmitButton_FebruaryA:hover {
    backdrop-filter: hue-rotate(180deg);
    border: 2px solid #030710;
    color: #030710;
    filter: brightness(165%) drop-shadow(4px 4px 5px #00182c) saturate(300%);
    transition: all 0.2s linear;
}

.volcaNubassPatchManagerShareSubmitButton_FebruaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #00182c) invert(100%);
    transition: all 0.1s linear;
}

.volcaNubassPatchManagerShareCancelButton_FebruaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #a9abb0;
    color: #a9abb0;
    cursor: pointer;
    filter: brightness(140%) drop-shadow(8px 8px 5px #00182c) saturate(200%);
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    grid-column: col9 / col11;
    grid-row: row10 / row11;
    height: 100%;
    margin-left: 5%;
    outline-color: #8c8e95;
    padding: 0 15px;
    transition: all 0.2s linear;
    width: 100px;
    z-index: 155;
}

.volcaNubassPatchManagerShareCancelButton_FebruaryA:hover {
    backdrop-filter: hue-rotate(180deg);
    border: 2px solid #030710;
    color: #030710;
    filter: brightness(165%) drop-shadow(4px 4px 5px #00182c) saturate(300%);
    transition: all 0.2s linear;
}

.volcaNubassPatchManagerShareCancelButton_FebruaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #00182c) invert(100%);
    transition: all 0.1s linear;
}

.volcaNubassPatchManagerInitButton_FebruaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #a9abb0;
    color: #a9abb0;
    cursor: pointer;
    filter: brightness(140%) drop-shadow(8px 8px 5px #00182c) saturate(200%);
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    grid-column: sideCol2 / sideCol5;
    grid-row: sideRow19 / sideRow20;
    height: 100%;
    margin-left: 5%;
    outline-color: #8c8e95;
    padding: 0 15px;
    transition: all 0.2s linear;
    width: 100px;
    z-index: 155;
}

.volcaNubassPatchManagerInitButton_FebruaryA:hover {
    backdrop-filter: hue-rotate(180deg);
    border: 2px solid #030710;
    color: #030710;
    filter: brightness(165%) drop-shadow(4px 4px 5px #00182c) saturate(300%);
    transition: all 0.2s linear;
}

.volcaNubassPatchManagerInitButton_FebruaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #00182c) invert(100%);
    transition: all 0.1s linear;
}

.volcaNubassPatchManagerDeleteCollectionButton_FebruaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #a9abb0;
    color: #a9abb0;
    cursor: pointer;
    filter: brightness(140%) drop-shadow(8px 8px 5px #00182c) saturate(200%);
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    grid-column: sideCol2 / sideCol5;
    grid-row: sideRow21 / sideRow22;
    height: 100%;
    margin-left: 5%;
    outline-color: #8c8e95;
    padding: 0 15px;
    transition: all 0.2s linear;
    width: 100px;
    z-index: 155;
}

.volcaNubassPatchManagerDeleteCollectionButton_FebruaryA:hover {
    backdrop-filter: hue-rotate(180deg);
    border: 2px solid #030710;
    color: #030710;
    filter: brightness(165%) drop-shadow(4px 4px 5px #00182c) saturate(300%);
    transition: all 0.2s linear;
}

.volcaNubassPatchManagerDeleteCollectionButton_FebruaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #00182c) invert(100%);
    transition: all 0.1s linear;
}

.volcaNubassPatchManagerDeleteCollectionModal_Inactive_FebruaryA {
    background: linear-gradient(180deg, #202226, #202226, #202226, #202226, #809eb8, #003d70);
    height: 20%;
    left: 35%;
    position: absolute;
    top: -120%;
    transition: all 0.5s linear;
    width: 30%;
    z-index: 200;
}

.volcaNubassPatchManagerDeleteCollectionModal_Active_FebruaryA {
    background: linear-gradient(180deg, #202226, #202226, #202226, #202226, #809eb8, #003d70);
    height: 20%;
    left: 35%;
    position: absolute;
    top: 20%;
    transition: all 0.5s linear;
    width: 30%;
    z-index: 200;
}

.volcaNubassPatchManagerAboutNubassManagement_FebruaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #a9abb0;
    color: #a9abb0;
    cursor: pointer;
    filter: brightness(140%) drop-shadow(8px 8px 5px #00182c) saturate(200%);
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    grid-column: sideCol2 / sideCol5;
    grid-row: sideRow23 / sideRow24;
    height: 100%;
    margin-left: 5%;
    outline-color: #8c8e95;
    padding: 0 15px;
    transition: all 0.2s linear;
    width: 100px;
    z-index: 155;
}

.volcaNubassPatchManagerAboutNubassManagement_FebruaryA:hover {
    backdrop-filter: hue-rotate(180deg);
    border: 2px solid #030710;
    color: #030710;
    filter: brightness(165%) drop-shadow(4px 4px 5px #00182c) saturate(300%);
    transition: all 0.2s linear;
}

.volcaNubassPatchManagerAboutNubassManagement_FebruaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #00182c) invert(100%);
    transition: all 0.1s linear;
}

.volcaNubassPatchManagerAboutModal_Inactive_FebruaryA {
    background: linear-gradient(180deg, #818388, #818388, #818388, #818388, #809eb8, #003d70);
    border-radius: 0 0 15px 0;
    filter: invert(0%);
    height: 90%;
    left: 5%;
    position: absolute;
    top: 115%;
    transition: all 0.5s linear;
    width: 90%;
    z-index: 200;
}

.volcaNubassPatchManagerAboutModal_Active_FebruaryA {
    background: linear-gradient(180deg, #818388, #818388, #818388, #818388, #809eb8, #003d70);
    filter: invert(100%);
    height: 90%;
    left: 5%;
    position: absolute;
    top: 5%;
    transition: all 0.5s linear;
    width: 90%;
    z-index: 200;
}

.volcaNubassPatchManagerAboutContentDiv_FebruaryA {
    background: #525661;
    height: 85%;
    left: 5%;
    position: relative;
    top: 5%;
    width: 90%;
}

.volcaNubassPatchManagerAboutContentDiv_FebruaryA h2 {
    color: #a3b9c4;
    font-family: 'Alata', serif;
    font-size: 36px;
    margin: 5px 0 30px 30px;
}

.volcaNubassPatchManagerAboutContentDiv_FebruaryA h3 {
    color: #a3b9c4;
    font-family: 'Alata', serif;
    font-size: 24px;
    line-height: 1.3em;
    margin: 10px 25px 10px 45px;
    max-width: 950px;
}

.volcaNubassPatchManagerAboutContentDiv_FebruaryA p {
    color: #a3b9c4;
    font-family: 'Alata', serif;
    font-size: 18px;
    line-height: 1.3em;
    margin: 5px 25px 30px 25px;
    max-width: 950px;
}

.volcaNubassPatchManagerAboutCloseButton_FebruaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #a9abb0;
    color: #a9abb0;
    cursor: pointer;
    filter: brightness(140%) drop-shadow(8px 8px 5px #00182c) saturate(200%);
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    margin-left: 45%;
    margin-top: 4.5%;
    outline-color: #8c8e95;
    padding: 0 15px;
    transition: all 0.2s linear;
    width: 100px;
    z-index: 155;
}

.volcaNubassPatchManagerAboutCloseButton_FebruaryA:hover {
    backdrop-filter: hue-rotate(180deg);
    border: 2px solid #030710;
    color: #030710;
    filter: brightness(165%) drop-shadow(4px 4px 5px #00182c) saturate(300%);
    transition: all 0.2s linear;
}

.volcaNubassPatchManagerAboutCloseButton_FebruaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #00182c) invert(100%);
    transition: all 0.1s linear;
}

.volcaNubassPatchManagerCollectionLoadModal_Inactive_FebruaryA {
    background-image: url(https://events-168-hurdaudio.s3.amazonaws.com/volcaNubassPatchManager/february/milky_way_in_pearls_by_wen_astar_d3g7ul7-fullview.jpg);
    background-size: cover;
    border: 2px groove #003d70;
    box-shadow: 5px 5px 5px #00182c;
    box-sizing: border-box;
    filter: invert(0%);
    height: 40vh;
    left: -170%;
    position: absolute;
    top: 15%;
    transition: all 0.45s linear;
    width: 40%;
    z-index: 200;
}

.volcaNubassPatchManagerCollectionLoadModal_Active_FebruaryA {
    background-image: url(https://events-168-hurdaudio.s3.amazonaws.com/volcaNubassPatchManager/february/milky_way_in_pearls_by_wen_astar_d3g7ul7-fullview.jpg);
    background-size: cover;
    border: 2px groove #003d70;
    box-shadow: 5px 5px 5px #00182c;
    box-sizing: border-box;
    filter: invert(0%);
    height: 40vh;
    left: 20%;
    position: absolute;
    top: 15%;
    transition: all 0.45s linear;
    width: 40%;
    z-index: 200;
}

.volcaNubassPatchManagerCollectionLoadContainer_FebruaryA {
    backdrop-filter: blur(5px) brightness(30%) hue-rotate(30deg);
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [col9] 1fr [col10] 1fr [rightEdge];
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [row9] 1fr [rowEnd];
    height: 100%;
    width: 100%;
}

.volcaNubassPatchManagerLoadTitle_FebruaryA {
    color: #a9abb0;
    filter: brightness(350%) drop-shadow(8px 8px 5px #00182c);
    font-family: 'Niramit', sans-serif;
    font-size: 24px;
    grid-column: col2 / col11;
    grid-row: row2 / row3;
}

.volcaNubassPatchManagerLoadSelector_FebruaryA {
    background: transparent;
    border: none;
    color: #a9abb0;
    filter: brightness(350%) drop-shadow(8px 8px 5px #00182c);
    font-family: 'Niramit', sans-serif;
    font-size: 24px;
    grid-column: col2 / col10;
    grid-row: row4 / row5;
    outline-color: #8c8e95;
}

.volcaNubassPatchManagerLoadLoadButton_FebruaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #a9abb0;
    color: #a9abb0;
    cursor: pointer;
    filter: brightness(140%) drop-shadow(8px 8px 5px #00182c) saturate(200%);
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    grid-column: col3 / col5;
    grid-row: row7 / row8;
    outline-color: #8c8e95;
    padding-top: 4px;
    transition: all 0.2s linear;
    width: 100px;
    z-index: 155;
}

.volcaNubassPatchManagerLoadLoadButton_FebruaryA:hover {
    backdrop-filter: hue-rotate(180deg);
    border: 2px solid #80aac1;
    color: #80aac1;
    filter: brightness(165%) drop-shadow(4px 4px 5px #00182c) saturate(300%);
    transition: all 0.2s linear;
}

.volcaNubassPatchManagerLoadLoadButton_FebruaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #00182c) invert(100%);
    transition: all 0.1s linear;
}

.volcaNubassPatchManagerLoadCancelButton_FebruaryA {
    backdrop-filter: hue-rotate(25deg);
    background: transparent;
    border: 2px solid #a9abb0;
    color: #a9abb0;
    cursor: pointer;
    filter: brightness(140%) drop-shadow(8px 8px 5px #00182c) saturate(200%);
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    grid-column: col7 / col9;
    grid-row: row7 / row8;
    outline-color: #8c8e95;
    padding-top: 4px;
    transition: all 0.2s linear;
    width: 100px;
    z-index: 155;
}

.volcaNubassPatchManagerLoadCancelButton_FebruaryA:hover {
    backdrop-filter: hue-rotate(180deg);
    border: 2px solid #80aac1;
    color: #80aac1;
    filter: brightness(165%) drop-shadow(4px 4px 5px #00182c) saturate(300%);
    transition: all 0.2s linear;
}

.volcaNubassPatchManagerLoadCancelButton_FebruaryA:active {
    filter: brightness(85%) drop-shadow(0 0 0 #00182c) invert(100%);
    transition: all 0.1s linear;
}

.volcaNubassPatchManagerPanicOff_FebruaryA {
    display: none;
}

.volcaNubassPatchManagerPanicOn_FebruaryA {
    border-radius: 0 0 15px 0;
    height: 80%;
    left: 25%;
    opacity: 0.8;
    position: absolute;
    top: 10%;
    width: 80%;
    z-index: 400;
}
