.loginContainer_MarchA {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    width: 100%;
}

.loginImageDiv_MarchA {
    background-image: url(https://events-168-hurdaudio.s3.amazonaws.com/login/march/nick-fewings-wy5QuZMI8V4-unsplash.jpg);
    background-size: cover;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.loginOuterBox_MarchA {
    backdrop-filter: blur(4px) hue-rotate(-45deg);
    background: #0669bc;
    height: 60vh;
    left: 25%;
    opacity: 0.6;
    position: absolute;
    top: 20%;
    width: 50%;
}

.loginBoxContainer_MarchA {
    backdrop-filter: hue-rotate(-45deg) saturate(120%);
    background: transparent;
    border: 2px solid transparent;
    border-image: url(https://events-168-hurdaudio.s3.amazonaws.com/login/march/nick-fewings-wy5QuZMI8V4-unsplash.jpg) 70 stretch;
    height: 52.5vh;
    justify-content: center;
    left: 27.5%;
    perspective: 200px;
    position: absolute;
    top: 23.5%;
    transition: all 0.4s linear;
    width: 45%;
}

.loginBoxContainer_MarchA:hover {
    border-image: url(https://events-168-hurdaudio.s3.amazonaws.com/login/march/nick-fewings-wy5QuZMI8V4-unsplash.jpg) 1 stretch;
    transition: all 0.4s linear;
}

.loginBoxContainer_MarchA input {
    background: #f9f8da;
    border: none;
    color: #000008;
    font-family: 'MuseoModerno', cursive;
    font-size: 24px;
    margin: 24px 48px;
    outline-color: #818ba1;
    padding: 5px 5px 5px 15px;
    width: 80%;
}

.loginBoxContainer_MarchA input::placeholder {
    color: #022a4b;
}

.loginBoxContainer_MarchA button {
    background: #004497;
    border: none;
    color: #000008;
    cursor: pointer;
    font-family: 'MuseoModerno', cursive;
    font-size: 24px;
    left: 41%;
    margin-top: 18px;
    outline-color: #818ba1;
    padding: 5px 15px;
    position: relative;
    transition: all 0.2s linear;
}
.loginBoxContainer_MarchA button:hover {
    background: #000014;
    box-shadow: -8px -8px 10px #fcfced, 8px -8px 10px #fcfced, -8px 8px 10px #fcfced, 8px 8px 10px #fcfced;
    color: #fcfced;
    transition: all 0.2s linear;
}

.loginTitle_MarchA {
    color: #83b4de;
    font-family: 'MuseoModerno', cursive;
    font-size: 36px;
    margin: 24px 48px 12px 48px;
}

.loginErrorMessaging_MarchA {
    color: #ff0000;
    font-family: 'MuseoModerno', cursive;
    font-size: 24px;
    font-weight: 900;
    margin: 24px 48px;
    padding: 6px;
    width: 78%;
}

.loginSubmitHide_MarchA {
    visibility: hidden;
}

.loginSubmitShow_MarchA {
    visibility: visible;
}

.loginForgotPassword_MarchA {
    background: #004497;
    border: none;
    color: #000008;
    cursor: pointer;
    font-family: 'MuseoModerno', cursive;
    font-size: 24px;
    left: 78%;
    margin-top: 18px;
    outline-color: #818ba1;
    padding: 5px 15px;
    position: absolute;
    top: 80%;
    transition: all 0.2s linear;
    width: 250px;
}

.loginForgotPassword_MarchA:hover {
    background: #000014;
    box-shadow: -8px -8px 10px #fcfced, 8px -8px 10px #fcfced, -8px 8px 10px #fcfced, 8px 8px 10px #fcfced;
    color: #fcfced;
    transition: all 0.2s linear;
}

.loginNewAccount_MarchA {
    background: #004497;
    border: none;
    color: #000008;
    cursor: pointer;
    font-family: 'MuseoModerno', cursive;
    font-size: 24px;
    left: 78%;
    margin-top: 18px;
    outline-color: #818ba1;
    padding: 5px 15px;
    position: absolute;
    top: 88%;
    transition: all 0.2s linear;
    width: 250px;
}

.loginNewAccount_MarchA:hover {
    background: #000014;
    box-shadow: -8px -8px 10px #fcfced, 8px -8px 10px #fcfced, -8px 8px 10px #fcfced, 8px 8px 10px #fcfced;
    color: #fcfced;
    transition: all 0.2s linear;
}