.loginContainer_FebruaryB {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    width: 100%;
}

.loginImageDiv_FebruaryB {
    background-image: url(https://events-168-hurdaudio.s3.amazonaws.com/login/february/checkered-4906142_1920.jpg);
    background-size: cover;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.loginOuterBox_FebruaryB {
    backdrop-filter: blur(4px) hue-rotate(-45deg);
    background: #b5b0aa;
    height: 60vh;
    left: 25%;
    opacity: 0.7;
    position: absolute;
    top: 20%;
    width: 50%;
}

.loginBoxContainer_FebruaryB {
    backdrop-filter: hue-rotate(45deg) saturate(120%);
    background: transparent;
    border: 2px solid transparent;
    border-image: url(https://events-168-hurdaudio.s3.amazonaws.com/login/february/checkered-4906142_1920.jpg) 70 stretch;
    height: 52.5vh;
    justify-content: center;
    left: 27.5%;
    perspective: 200px;
    position: absolute;
    top: 23.5%;
    transition: all 0.4s linear;
    width: 45%;
}

.loginBoxContainer_FebruaryB:hover {
    border-image: url(https://events-168-hurdaudio.s3.amazonaws.com/login/february/checkered-4906142_1920.jpg) 1 stretch;
    transition: all 0.4s linear;
}

.loginBoxContainer_FebruaryB input {
    background: #cacac9;
    border: none;
    color: #020208;
    font-family: 'Fondamento', cursive;
    font-size: 24px;
    margin: 24px 48px;
    outline-color: #a9a796;
    padding: 5px 5px 5px 15px;
    width: 80%;
}

.loginBoxContainer_FebruaryB input::placeholder {
    color: #6a6746;
}

.loginBoxContainer_FebruaryB button {
    background: #2a291c;
    border: none;
    color: #edebdf;
    cursor: pointer;
    font-family: 'Fondamento', cursive;
    font-size: 24px;
    left: 41%;
    margin-top: 18px;
    outline-color: #a9a796;
    padding: 5px 15px;
    position: relative;
    transition: all 0.2s linear;
}
.loginBoxContainer_FebruaryB button:hover {
    background: #b5b3a3;
    box-shadow: -8px -8px 10px #dbd7be, 8px -8px 10px #dbd7be, -8px 8px 10px #dbd7be, 8px 8px 10px #dbd7be;
    color: #020208;
    transition: all 0.2s linear;
}

.loginTitle_FebruaryB {
    color: #020208;
    font-family: 'Fondamento', cursive;
    font-size: 36px;
    margin: 24px 48px 12px 48px;
}

.loginErrorMessaging_FebruaryB {
    color: #ff0000;
    font-family: 'Fondamento', cursive;
    font-size: 24px;
    font-weight: 900;
    margin: 24px 48px;
    padding: 6px;
    width: 78%;
}

.loginSubmitHide_FebruaryB {
    visibility: hidden;
}

.loginSubmitShow_FebruaryB {
    visibility: visible;
}