.stepSequencerContainer_Active_JanuaryA {
    filter: blur(0);
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    pointer-events: all;
    position: absolute;
    top: 0;
    transition: all 0.3s linear;
    width: 100%;
    z-index: 100;
}

.stepSequencerContainer_Inactive_JanuaryA {
    filter: blur(10px);
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    pointer-events: all;
    position: absolute;
    top: 0;
    transition: all 0.3s linear;
    width: 100%;
    z-index: 100;
}

.stepSequencerImageDiv_JanuaryA {
    background-image: url(https://events-168-hurdaudio.s3.amazonaws.com/stepSequencer/january/d8d2y1p-3300cbb4-b87c-4521-b5b8-9a40280d3284.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: [col1] 6.25% [col2] 6.25% [col3] 6.25% [col4] 6.25% [col5] 12.5% [col6] 12.5% [col7] 12.5% [col8] 12.5% [col9] 12.5% [col10] 12.5% [rightEdge];
    grid-template-rows: [row1] 6.25% [row2] 6.25% [row3] 12.5% [row4] 12.5% [row5] 12.5% [row6] 12.5% [row7] 12.5% [row8] 12.5% [row9] 12.5%[rowEnd];
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 80;
}

.stepSequencerEditorTopBar_JanuaryA {
    backdrop-filter: blur(7px) brightness(150%) hue-rotate(-45deg);
    background: linear-gradient(90deg, transparent, #04070c, #04070c, #253358, #253358, #868ea3, transparent);
    grid-column: col1 / rightEdge;
    grid-row: row1 / row2;
}

.stepSeqNavImage_JanuaryA {
    cursor: pointer;
    filter: contrast(80%);
    grid-column: col1 / col2;
    grid-row: row1 / row2;
    margin: 3px 0 0 5px;
    transform: rotateZ(180deg);
    transition: all 0.2s linear;
    width: 3%;
}

.stepSeqNavImage_JanuaryA:hover {
    filter: contrast(110%);
    transform: rotateZ(210deg);
    transition: all 0.2s linear;
}

.stepSequencerTitle_JanuaryA {
    color: #d2d6df;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 36px;
    grid-column: col2 / col6;
    grid-row: row1 / row2;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 55;
}

.stepSequencerLoadButton_JanuaryA {
    backdrop-filter: hue-rotate(-75deg);
    background: transparent;
    border: 2px solid #d2d6df;
    color: #d2d6df;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #868ea3);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    height: 35px;
    grid-column: col6 / col7;
    grid-row: row1 / row2;
    margin: 6px 65px 0 35px;
    outline-color: #8f9193;
    padding: 0 15px;
    z-index: 155;
}

.stepSequencerLoadButton_JanuaryA:hover {
    backdrop-filter: hue-rotate(75deg);
    border: 2px solid #253358;
    color: #253358;
    filter: brightness(245%) drop-shadow(4px 4px 5px #868ea3);
}

.stepSequencerLoadButton_JanuaryA:active {
    filter: brightness(85%) invert(100%) drop-shadow(0 0 0 #868ea3);
}

.stepSequencerNameInput_JanuaryA {
    background: transparent;
    border: none;
    color: #d2d6df;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    left: 50%;
    outline-color: #8f9193;
    position: absolute;
    top: 1%;
}

.stepSequencerPanicButton_JanuaryA {
    background: transparent;
    border: none;
    color: #d2d6df;
    cursor: pointer;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    grid-column: col10 / rightEdge;
    grid-row: row1 / row2;
    z-index: 56;
}

.stepSequencerSidebarManager_JanuaryA {
    backdrop-filter: hue-rotate(180deg);
    background: radial-gradient(closest-corner, #253358, #04070c, #253358);
    border-right: 3px solid #41444c;
    box-sizing: border-box;
    grid-column: col1 / col3;
    grid-row: row2 / rowEnd;
    opacity: 0.9;
}

.stepSequencerPositionDisplay_JanuaryA {
    backdrop-filter: brightness(60%) blur(8px) contrast(100%) sepia(50%);
    display: flex;
    grid-column: col3 / col7;
    grid-row: row2 / row3;
}

.stepSequencerShuttleControls_JanuaryA {
    backdrop-filter: blur(8px);
    background: linear-gradient(90deg, #d2d6df, #d2d6df, #b5b9c0, #b5b9c0, #6b7380, #9299ac, #9299ac, transparent);
    display: flex;
    grid-column: col7 / colEnd;
    grid-row: row2 / row3;
}

.stepSequencerTempoTracking_JanuaryA {
    backdrop-filter: blur(5px) brightness(30%) contrast(100%) hue-rotate(-90deg);
    display: grid;
    grid-column: col3 / col6;
    grid-row: row3 / row9;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [col9] 1fr [col10] 1fr [col11] 1fr [col12] 1fr [rightEdge];
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [row9] 1fr [row10] 1fr [row11] 1fr [row12] 1fr [row13] 1fr [row14] 1fr [row15] 1fr [rowEnd];
}

.stepSequencerTracking_JanuaryA {
    backdrop-filter: blur(12px) brightness(45%) contrast(100%) hue-rotate(135deg);
    display: grid;
    grid-column: col6 / col10;
    grid-row: row3 / row9;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [col9] 1fr [col10] 1fr [col11] 1fr [col12] 1fr [col13] 1fr [col14] 1fr [col15] 1fr [col16] 1fr [col17] 1fr [col18] 1fr [col19] 1fr [col20] 1fr [col21] 1fr [col22] 1fr [col23] 1fr [col24] 1fr [rightEdge];
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [row9] 1fr [row10] 1fr [row11] 1fr [row12] 1fr [row13] 1fr [row14] 1fr [row15] 1fr [rowEnd];
}

.stepSequencerInputsControl_JanuaryA {
    backdrop-filter: blur(3px) brightness(50%) contrast(90%) saturate(50%);
    display: grid;
    grid-column: col10 / colEnd;
    grid-row: row3 / row9;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [rightEdge];
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [row9] 1fr [row10] 1fr [row11] 1fr [row12] 1fr [row13] 1fr [row14] 1fr [row15] 1fr [rowEnd];
}

.stepSequencerPluginsPanel_JanuaryA {
    backdrop-filter: blur(9px) hue-rotate(-90deg);
    display: grid;
    grid-column: col3 / colEnd;
    grid-row: row9 / rowEnd;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [col9] 1fr [col10] 1fr [col11] 1fr [col12] 1fr [col13] 1fr [col14] 1fr [col15] 1fr [col16] 1fr [rightEdge];
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [rowEnd];
}

.stepSequencerPositionBarInput_JanuaryA {
    background: transparent;
    border: none;
    color: #d2d6df;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    text-align: right;
    width: 6%;
}

.stepSequencerPositionSeparator_JanuaryA {
    color: #d2d6df;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 42px;
    text-align: right;
    width: 3%;
}

.stepSequencerPositionTicker_JanuaryA {
    background: transparent;
    border: none;
    color: #d2d6df;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    text-align: right;
    width: 10% !important;
}

.stepSequencerDisplayCurrentMeterAndTempo_JanuaryA {
    background: transparent;
    display: flex;
    grid-column: col1 / colEnd;
    grid-row: row1 / row2;
}

.stepSequencerDisplayCurrentMeterNumerator_JanuaryA {
    color: #9299ac;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 36px;
    margin: 2px 0 0 10px;
    text-align: right;
}

.stepSequencerTempoNote_JanuaryA {
    filter: brightness(100%) invert(100%);
    margin-bottom: -10px;
    margin-right: -5px;
    margin-left: 20px;
    max-height: 40px;
    max-width: 70px;
}

.stepSequencerTempoNoteWhole_JanuaryA {
    filter: brightness(100%) invert(100%);
    margin-left: 20px;
    margin-top: 20px;
    max-height: 10px;
    max-width: 30px;
}

.stepSequencerTempoTrackTracker_JanuaryA {
    border: 1px solid #9299ac;
    filter: brightness(150%) saturate(400%);
    grid-column: col1 / colEnd;
    grid-row: row2 / row15;
    overflow-x: hidden;
    overflow-y: scroll;
}

.stepSequencerTempoTrackTracker_JanuaryA::-webkit-scrollbar {
    background: transparent;
}

.stepSequencerTempoEventLinetrue_JanuaryA {
    background: #6b7380;
    color: #d2d6df;
    display: flex;
    filter: brightness(70%) saturate(50%);
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    width: 100%;
}

.stepSequencerTempoEventLinefalse_JanuaryA {
    background: transparent;
    color: #9299ac;
    display: flex;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    width: 100%;
}

.stepSequencerTempoTrackDisplayLine_JanuaryA {
    color: #9299ac;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    margin: 2px 3% 0 10px;
    text-align: right;
}

.stepSequencerTempoTrackNumericalInput_JanuaryA {
    background: transparent;
    border: none;
    color: #9299ac;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    height: 25px;
    text-align: right;
    width: 3vmin;
}

.stepSequencerTempoTrackNumericalInput2_JanuaryA {
    background: transparent;
    border: none;
    color: #9299ac;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    height: 25px;
    text-align: left;
    width: 5vmin;
}

.stepSequencerTempoTrackDisplayLine2_JanuaryA {
    color: #9299ac;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    margin: 2px 0 0 0;
    text-align: right;
}

.stepSequencerTempoTrackerNoteImg_JanuaryA {
    cursor: pointer;
    filter: brightness(100%) invert(100%);
    margin-bottom: -5px;
    margin-left: 10px;
    margin-right: -10px;
    margin-top: -5px;
    max-height: 35px;
    max-width: 35px;
}

.stepSequencerTempoTrackerNoteImgWhole_JanuaryA {
    cursor: pointer;
    filter: brightness(100%) invert(100%);
    margin-left: 10px;
    margin-top: 10px;
    max-height: 15px;
    max-width: 20px;
}

.stepSequencerTempoTrackTempoInput_JanuaryA {
    background: transparent;
    border: none;
    color: #9299ac;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    height: 25px;
    text-align: left;
    width: 14vmin;
}

.stepSequencerTrackingBarInput_JanuaryA {
    background: transparent;
    border: none;
    color: #9299ac;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    margin: 2px 0 0 0;
    text-align: right;
    width: 5vmin;
}

.stepSequencerTrackingMeterChangeInputsDiv_JanuaryA {
    display: flex;
    margin: 0 0 0 35px;
}

.stepSequencerTempoTrackerNoteImg2_JanuaryA {
    cursor: pointer;
    filter: brightness(100%) invert(100%);
    margin-left: 1px;
    margin-right: -10px;
    margin-top: -5px;
    max-height: 35px;
    max-width: 65px;
}

.stepSequencerTempoTrackerNoteImg2Whole_JanuaryA {
    cursor: pointer;
    filter: brightness(100%) invert(100%);
    margin-left: 10px;
    margin-top: 10px;
    max-height: 15px;
    max-width: 20px;
}

.stepSequencerCurrentClockPositionDisplay_JanuaryA {
    color: #d2d6df;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    margin: 13px 0 0 110px;
    text-align: right;
    width: 6%;
}

.stepSequencerTempoTrackEndMarker_JanuaryA {
    color: #9299ac;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    margin: 2px 0 0 40px;
}

.stepSequencerTempoTrackEventDeleteX_JanuaryA {
    color: transparent;
    cursor: pointer;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    margin-top: 5px;
    right: 100%;
    position: relative;
}

.stepSequencerTempoTrackEventDeleteX_JanuaryA:hover {
    color: #9299ac;
}

.stepSequencerTempoTrackAddLabel_JanuaryA {
    color: #d2d6df;
    filter: brightness(250%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    grid-column: col1 / col4;
    grid-row: row15 / rowEnd;
    margin: 10px 0 0 15px;
}

.stepSequencerTempoTrackAddMeterButton_JanuaryA {
    backdrop-filter: hue-rotate(-75deg);
    background: transparent;
    border: 2px solid #d2d6df;
    color: #d2d6df;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #868ea3);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    height: 35px;
    grid-column: col4 / col7;
    grid-row: row15 / row16;
    margin: 2px 0 0 2px;
    outline-color: #8f9193;
    padding: 0 1px;
    z-index: 155;
}

.stepSequencerTempoTrackAddMeterButton_JanuaryA:hover {
    backdrop-filter: hue-rotate(75deg);
    border: 2px solid #253358;
    color: #253358;
    filter: brightness(245%) drop-shadow(4px 4px 5px #868ea3);
}

.stepSequencerTempoTrackAddMeterButton_JanuaryA:active {
    filter: brightness(85%) invert(100%) drop-shadow(0 0 0 #868ea3);
}

.stepSequencerTempoTrackAddTempoButton_JanuaryA {
    backdrop-filter: hue-rotate(-75deg);
    background: transparent;
    border: 2px solid #d2d6df;
    color: #d2d6df;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #868ea3);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    height: 35px;
    grid-column: col7 / col10;
    grid-row: row15 / row16;
    margin: 2px 0 0 2px;
    outline-color: #8f9193;
    padding: 0 1px;
    z-index: 155;
}

.stepSequencerTempoTrackAddTempoButton_JanuaryA:hover {
    backdrop-filter: hue-rotate(75deg);
    border: 2px solid #253358;
    color: #253358;
    filter: brightness(245%) drop-shadow(4px 4px 5px #868ea3);
}

.stepSequencerTempoTrackAddTempoButton_January:active {
    filter: brightness(85%) invert(100%) drop-shadow(0 0 0 #868ea3);
}

.stepSequencerTempoTrackRitAccelButton_JanuaryA {
    backdrop-filter: hue-rotate(-75deg);
    background: transparent;
    border: 2px solid #d2d6df;
    color: #d2d6df;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #868ea3);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    height: 35px;
    grid-column: col10 / colEnd;
    grid-row: row15 / row16;
    margin: 2px 0 0 2px;
    outline-color: #8f9193;
    padding: 0 1px;
    z-index: 155;
}

.stepSequencerTempoTrackRitAccelButton_JanuaryA:hover {
    backdrop-filter: hue-rotate(75deg);
    border: 2px solid #253358;
    color: #253358;
    filter: brightness(245%) drop-shadow(4px 4px 5px #868ea3);
}

.stepSequencerTempoTrackRitAccelButton_JanuaryA:active {
    filter: brightness(85%) invert(100%) drop-shadow(0 0 0 #868ea3);
}

.stepSequencerShuttleHome_JanuaryA {
    cursor: pointer;
    margin: 1% 5px;
    max-height: 80%;
    max-width: 10%;
}

.stepSequencerShuttleHome_JanuaryA:hover {
    filter: invert(100%);
}

.stepSequencerHomePositionBarInput_JanuaryA {
    background: transparent;
    border: none;
    color: #010204;
    filter: brightness(50%) saturate(100%);
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    text-align: right;
    width: 6%;
}

.stepSequencerHomePositionSeparator_JanuaryA {
    color: #010204;
    filter: brightness(50%) saturate(100%);
    font-family: 'Epilogue', sans-serif;
    font-size: 42px;
    text-align: right;
    width: 3%;
}

.stepSequencerHomePositionTicker_JanuaryA {
    background: transparent;
    border: none;
    color: #010204;
    filter: brightness(50%) saturate(100%);
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    margin-right: 50px;
    text-align: right;
    width: 10% !important;
}

.stepSequencerShuttlePlayButton_JanuaryA {
    cursor: pointer;
    filter: invert(0);
    margin: 1% 5px;
    max-height: 80%;
    max-width: 10%;
}

.stepSequencerShuttlePlayButton_JanuaryA:hover {
    filter: invert(100%);
}

.stepSequencerStepNote_JanuaryA {
    cursor: pointer;
    height: 7vh;
    margin-left: 10px;
    max-width: 70px;
    transform: translateY(-3px);
}

.stepSequencerStepNote_JanuaryA:hover {
    filter: invert(100%);
}

.stepSequencerStepNoteWhole_JanuaryA {
    cursor: pointer;
    height: 2vh;
    margin-left: 50px;
    max-width: 30px;
    transform: translateX(-25px) translateY(20px);
}

.stepSequencerStepTicksInput_JanuaryA {
    background: transparent;
    border: none;
    color: #010204;
    filter: brightness(50%) saturate(100%);
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    outline-color: #8f9193;
    margin-right: 30px;
    text-align: left;
    width: 7vmin;
}

.stepSequencerShuttleSpacer_JanuaryA {
    width: 4vmin;
}

.stepSequencerDisplaySequenceTrackDatas_JanuaryA {
    background: transparent;
    display: flex;
    grid-column: col1 / colEnd;
    grid-row: row1 / row2;
}

.stepSequencerTrackSelector_JanuaryA {
    background: transparent;
    border: none;
    color: #a4acbf;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    margin: 0 10px;
    outline-color: #8f9193;
    width: 25%;
}

.stepSequencerTrackMuteButtonfalse_JanuaryA {
    background: #010204;
    border: 2px solid #828386;
    box-sizing: border-box;
    color: #828386;
    cursor: pointer;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    margin: 5px 4px;
    transition: all 0.2s linear;
}

.stepSequencerTrackMuteButtonfalse_JanuaryA:hover {
    background: #0c0e0f;
    border: 2px solid #a4acbf;
    color: #a4acbf;
    filter: brightness(100%) saturate(200%);
    transition: all 0.2s linear;
}

.stepSequencerTrackMuteButtonfalse_JanuaryA:active {
    background: #253358;
    filter: brightness(50%) saturate(10%);
    transition: all 0.1s linear;
}

@keyframes muteOn {
  from {filter: brightness(150%) hue-rotate(180deg) saturate(400%);}
  to {filter: brightness(100%) hue-rotate(150deg) saturate(200%);}
}

.stepSequencerTrackMuteButtontrue_JanuaryA {
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: muteOn;
    animation-timing-function: linear;
    background: #253358;
    border: 2px solid #c3c7d1;
    box-sizing: border-box;
    color: #c3c7d1;
    cursor: pointer;
    filter: brightness(150%) hue-rotate(180deg) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    margin: 5px 4px;
    transition: all 0.2s linear;
}

.stepSequencerTrackMuteButtontrue_JanuaryA:hover {
    background: #6b7380;
    border: 2px solid #010204;
    color: #010204;
    transition: all 0.2s linear;
}

.stepSequencerTrackMuteButtontrue_JanuaryA:active {
    background: #868ea3;
    filter: brightness(50%) saturate(10%);
    transition: all 0.1s linear;
}

.stepSequencerTrackSoloButtonfalsefalse_JanuaryA {
   background: #010204;
    border: 2px solid #828386;
    box-sizing: border-box;
    color: #828386;
    cursor: pointer;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    margin: 5px 4px;
    transition: all 0.2s linear; 
}

.stepSequencerTrackSoloButtonfalsefalse_JanuaryA:hover {
    background: #0c0e0f;
    border: 2px solid #a4acbf;
    color: #a4acbf;
    filter: brightness(100%) saturate(200%);
    transition: all 0.2s linear;
}

.stepSequencerTrackSoloButtonfalsefalse_JanuaryA:active {
    background: #253358;
    filter: brightness(50%) saturate(10%);
    transition: all 0.1s linear;
}

.stepSequencerTrackSoloButtonfalsetrue_JanuaryA {
   background: #010204;
    border: 2px solid #828386;
    box-sizing: border-box;
    color: #828386;
    cursor: pointer;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    margin: 5px 4px;
    transition: all 0.2s linear; 
}

.stepSequencerTrackSoloButtonfalsetrue_JanuaryA:hover {
    background: #0c0e0f;
    border: 2px solid #a4acbf;
    color: #a4acbf;
    filter: brightness(100%) saturate(200%);
    transition: all 0.2s linear;
}

.stepSequencerTrackSoloButtonfalsetrue_JanuaryA:active {
    background: #253358;
    filter: brightness(50%) saturate(10%);
    transition: all 0.1s linear;
}

.stepSequencerTrackSoloButtontruefalse_JanuaryA {
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: muteOn;
    animation-timing-function: linear;
    background: #253358;
    border: 2px solid #c3c7d1;
    box-sizing: border-box;
    color: #c3c7d1;
    cursor: pointer;
    filter: brightness(150%) hue-rotate(180deg) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    margin: 5px 4px;
    transition: all 0.2s linear; 
}

.stepSequencerTrackSoloButtontruefalse_JanuaryA:hover {
    background: #6b7380;
    border: 2px solid #010204;
    color: #010204;
    transition: all 0.2s linear;
}

.stepSequencerTrackSoloButtontruefalse_JanuaryA:active {
    background: #868ea3;
    filter: brightness(50%) saturate(10%);
    transition: all 0.1s linear;
}

.stepSequencerTrackSoloButtontruetrue_JanuaryA {
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: muteOn;
    animation-timing-function: linear;
    background: #1e2327;
    border: 2px solid #1e2327;
    box-sizing: border-box;
    color: #6b7380;
    cursor: pointer;
    filter: brightness(150%) hue-rotate(180deg) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    margin: 5px 4px;
    transition: all 0.2s linear; 
}

.stepSequencerTrackSoloButtontruetrue_JanuaryA:hover {
    background: #6b7380;
    border: 2px solid #6b7380;
    color: #1e2327;
    transition: all 0.2s linear;
}

.stepSequencerTrackSoloButtontruetrue_JanuaryA:active {
    background: #52576b;
    filter: brightness(50%) saturate(10%);
    transition: all 0.1s linear;
}

@keyframes rudeSolo {
  from {background: #a4acbf;
        color: #010204;}
  to {background: #253358;
        color: #d2d6df;}
}

.stepSequencerRudeSoloLabelDivtrue_JanuaryA {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: rudeSolo;
    animation-timing-function: linear;
    display: flex;
    filter: hue-rotate(90deg);
    height: 80%;
    left: 22%;
    position: relative;
    text-align: center;
    top: 10%;
    width: 70px;
}

.stepSequencerRudeSoloLabelDivfalse_JanuaryA {
    display: none;
}

.stepSequencerRudeSoloLabel_JanuaryA {
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    margin-top: 4px;
}

.stepSequencerAddDeleteTrackButton_JanuaryA {
    background: #010204;
    border: 2px solid #828386;
    box-sizing: border-box;
    color: #828386;
    cursor: pointer;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    margin: 5px 4px;
    transition: all 0.2s linear;
    width: 12%;
}

.stepSequencerAddDeleteTrackButton_JanuaryA:hover {
    background: #0c0e0f;
    border: 2px solid #a4acbf;
    color: #a4acbf;
    filter: brightness(100%) saturate(200%);
    transition: all 0.2s linear;
}

.stepSequencerAddDeleteTrackButton_JanuaryA:active {
    background: #253358;
    filter: brightness(50%) saturate(10%);
    transition: all 0.1s linear;
}

.stepSequencerTracksContainer_JanuaryA {
    background: transparent;
    display: flex;
    grid-column: col1 / colEnd;
    grid-row: row2 / row15;
}

.stepSequencerIndividualTracktrue_JanuaryA {
    background: transparent;
    border: 1px solid #9299ac;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all 0.5s linear;
    width: 100%;
}

.stepSequencerIndividualTracktrue_JanuaryA::-webkit-scrollbar {
    background: transparent;
}

.stepSequencerIndividualTrackfalse_JanuaryA {
    background: transparent;
    border: 1px solid #9299ac;
    box-sizing: border-box;
    cursor: pointer;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: all 0.5s linear;
    width: 0.4vmin;
}

.stepSequencerDeviceSelectLabel_JanuaryA {
    color: #828386;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    grid-column: col1 / col4;
    grid-row: row3 / row4;
    margin-left: 5px;
    margin-top: 18px;
}

.stepSequencerDeviceSelector_JanuaryA {
    background: transparent;
    border: none;
    color: #a4acbf;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 15px;
    grid-column: col1 / colEnd;
    grid-row: row4 / row5;
    outline-color: #8f9193;    
}

.stepSequencerDeviceImage_JanuaryA {
    grid-column: col1 / colEnd;
    grid-row: row1 / row3;
    margin-left: 5%;
    max-height: 100%;
    max-width: 90%;
    opacity: 0.6;
}

.stepSequencerCollectionSelectLabel_JanuaryA {
    color: #828386;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    grid-column: col1 / col4;
    grid-row: row5 / row6;
    margin-left: 5px;
    margin-top: 18px;
}

.stepSequencerCollectionSelector_JanuaryA {
    background: transparent;
    border: none;
    color: #a4acbf;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 15px;
    grid-column: col1 / colEnd;
    grid-row: row6 / row7;
    outline-color: #8f9193;
}

.stepSequencerBankSelectLabel_JanuaryA {
    color: #828386;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    grid-column: col1 / col4;
    grid-row: row7 / row8;
    margin-left: 5px;
    margin-top: 18px;
}

.stepSequencerBankSelector_JanuaryA {
    background: transparent;
    border: none;
    color: #a4acbf;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 15px;
    grid-column: col1 / colEnd;
    grid-row: row8 / row9;
    outline-color: #8f9193;
}

.stepSequencerPatchSelectLabel_JanuaryA {
    color: #828386;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    grid-column: col1 / col4;
    grid-row: row9 / row10;
    margin-left: 5px;
    margin-top: 18px;
}

.stepSequencerPatchSelector_JanuaryA {
    background: transparent;
    border: none;
    color: #a4acbf;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 15px;
    grid-column: col1 / colEnd;
    grid-row: row10 / row11;
    outline-color: #8f9193;
}

.stepSequencerEventSelectLabel_JanuaryA {
    color: #828386;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    grid-column: col1 / col4;
    grid-row: row11 / row12;
    margin-left: 5px;
    margin-top: 18px;
}

.stepSequencerEventSelector_JanuaryA {
    background: transparent;
    border: none;
    color: #a4acbf;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 15px;
    grid-column: col1 / colEnd;
    grid-row: row12 / row13;
    outline-color: #8f9193;
}

.stepSequencerAddEventButton_JanuaryA {
    background: #010204;
    border: 2px solid #828386;
    box-sizing: border-box;
    color: #828386;
    cursor: pointer;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    grid-column: col2 / col4;
    grid-row: row13 / row14;
    margin-top: 10px;
    transition: all 0.2s linear;
}

.stepSequencerAddEventButton_JanuaryA:hover {
    background: #0c0e0f;
    border: 2px solid #a4acbf;
    color: #a4acbf;
    filter: brightness(100%) saturate(200%);
    transition: all 0.2s linear;
}

.stepSequencerAddEventButton_JanuaryA:active {
    background: #253358;
    filter: brightness(50%) saturate(10%);
    transition: all 0.1s linear;
}

.stepSequencerRepeatButton_JanuaryA {
    background: #010204;
    border: 2px solid #828386;
    box-sizing: border-box;
    color: #828386;
    cursor: pointer;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    grid-column: col2 / col4;
    grid-row: row14 / row15;
    margin-top: 10px;
    transition: all 0.2s linear;
}

.stepSequencerRepeatButton_JanuaryA:hover {
    background: #0c0e0f;
    border: 2px solid #a4acbf;
    color: #a4acbf;
    filter: brightness(100%) saturate(200%);
    transition: all 0.2s linear;
}

.stepSequencerRepeatButton_JanuaryA:active {
    background: #253358;
    filter: brightness(50%) saturate(10%);
    transition: all 0.1s linear;
}

.stepSequencerEventContainertruetrue_JanuaryA {
    background: #6b7380;
    color: #d2d6df;
    display: grid;
    grid-template-columns: [eventName] 19% [midiChannel] 40px [bar] 30px [barDivider] 3px [beat] 30px [beatDivider] 3px [ticks] 50px [valueDisplay] 60px [col6] 20px [secondData] 50px [col8] 50px [col9] 3px [col10] 30px [col11] 3px [col12] 50px [col13] 100px [col14] 20px [col15] 1fr [rightEdge];
    filter: brightness(70%) saturate(50%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    margin: 2px 0;
    width: 100%;
    z-index: 155;
}

.stepSequencerEventContainertruefalse_JanuaryA {
    background: transparent;
    color: #9299ac;
    display: grid;
    grid-template-columns: [eventName] 19% [midiChannel] 40px [bar] 30px [barDivider] 3px [beat] 30px [beatDivider] 3px [ticks] 50px [valueDisplay] 60px [col6] 20px [secondData] 50px [col8] 50px [col9] 3px [col10] 30px [col11] 3px [col12] 50px [col13] 100px [col14] 20px [col15] 1fr [rightEdge];
    grid-template-rows: [row1] 1fr [rowEnd];
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    margin: 2px 0;
    width: 100%;
    z-index: 155;
}

.stepSequencerEventContainerfalsetrue_JanuaryA {
    display: none;
}
 
.stepSequencerEventContainerfalsefalse_JanuaryA {
    display: none;
}

.stepSequencerEventName_JanuaryA {
    grid-column: eventName / midiChannel;
    grid-row: row1 / rowEnd;
    margin: 1px 5px;
}

.stepSequencerEventMidiChannelInput_JanuaryA {
    background: transparent;
    border: none;
    color: #9299ac;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    grid-column: midiChannel / bar;
    grid-row: row1 / rowEnd;
    outline-color: #8f9193;
    text-align: left;
}

.stepSequencerEventBarInput_JanuaryA {
    background: transparent;
    border: none;
    color: #9299ac;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    grid-column: bar / barDivider;
    grid-row: row1 / rowEnd;
    outline-color: #8f9193;
    text-align: right;
}

.stepSequencerBarDivider_JanuaryA {
    grid-column: barDivider / beat;
    grid-row: row1 / rowEnd;
}

.stepSequencerEventBeatInput_JanuaryA {
    background: transparent;
    border: none;
    color: #9299ac;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    grid-column: beat / beatDivider;
    grid-row: row1 / rowEnd;
    outline-color: #8f9193;
    text-align: right;
}

.stepSequencerBeatDivider_JanuaryA {
    grid-column: beatDivider / tics;
    grid-row: row1 / rowEnd;
}

.stepSequencerEventTicksInput_JanuaryA {
    background: transparent;
    border: none;
    color: #9299ac;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    grid-column: ticks / valueDisplay;
    grid-row: row1 / rowEnd;
    outline-color: #8f9193;
    text-align: right;
}

.stepSequencerEventValue_JanuaryA {
    color: #9299ac;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    grid-column: valueDisplay / col6;
    grid-row: row1 / rowEnd;
    margin-top: 1px;
    text-align: right;
}

.stepSequencerEventNoteInput_JanuaryA {
    background: transparent;
    border: none;
    color: transparent;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    grid-column: col6 / secondData;
    grid-row: row1 / rowEnd;
    outline-color: #8f9193;
    text-align: right;
}

.stepSequencerEventNoteVelocityInput_JanuaryA {
    background: transparent;
    border: none;
    color: #9299ac;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    grid-column: secondData / col8;
    grid-row: row1 / rowEnd;
    outline-color: #8f9193;
    text-align: right;
}

.stepSequencerEventNoteOffBarInput_JanuaryA {
    background: transparent;
    border: none;
    color: #9299ac;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    grid-column: col8 / col9;
    grid-row: row1 / rowEnd;
    outline-color: #8f9193;
    text-align: right;
}

.stepSequencerNoteOffBarDivider_JanuaryA {
    grid-column: col9 / col10;
    grid-row: row1 / rowEnd;
}

.stepSequencerEventNoteOffBeatInput_JanuaryA {
    background: transparent;
    border: none;
    color: #9299ac;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    grid-column: col10 / col11;
    grid-row: row1 / rowEnd;
    outline-color: #8f9193;
    text-align: right;
}

.stepSequencerNoteOffBeatDivider_JanuaryA {
    grid-column: col11 / col12;
    grid-row: row1 / rowEnd;
}

.stepSequencerEventNoteOffTicksInput_JanuaryA {
    background: transparent;
    border: none;
    color: #9299ac;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    grid-column: col12 / col13;
    grid-row: row1 / rowEnd;
    outline-color: #8f9193;
    text-align: right;
}

.stepSequencerEventDeleteEvent_JanuaryA {
    cursor: pointer;
    float: right;
    grid-column: col15 / rightEdge;
    grid-row: row1 / rowEnd;
    margin-top: 2px;
}

.stepSequencerEventDeleteEvent_JanuaryA:hover {
    filter: brightness(150%) saturate(400%);
}

.stepSequencerTracksNameAndControlledChangesStrip_JanuaryA {
    display: flex;
    grid-column: col1 / rightEdge;
    grid-row: row15 / rowEnd;
}

.stepSequencerTrackNameInput_JanuaryA {
    background: transparent;
    border: none;
    color: #d2d6df;
    filter: brightness(130%) saturate(100%);
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    margin: 2px 0 2px 25px;
    outline-color: #8f9193;
    text-align: left;
}

.stepSequencerTrackOperatorsButton_JanuaryA {
    backdrop-filter: hue-rotate(-75deg);
    background: transparent;
    border: 2px solid #d2d6df;
    color: #d2d6df;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #868ea3);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    height: 35px;
    grid-column: col4 / col7;
    grid-row: row15 / row16;
    margin: 2px 0 0 2px;
    outline-color: #8f9193;
    padding: 0 1px;
    width: 120px;
    z-index: 155;
}

.stepSequencerTrackOperatorsButton_JanuaryA:hover {
    backdrop-filter: hue-rotate(75deg);
    border: 2px solid #253358;
    color: #253358;
    filter: brightness(245%) drop-shadow(4px 4px 5px #868ea3);
}

.stepSequencerTrackOperatorsButton_JanuaryA:active {
    filter: brightness(85%) invert(100%) drop-shadow(0 0 0 #868ea3);
}

.stepSequencerMidiFXPanelLabel_JanuaryA {
    color: #010204;
    font-family: 'Epilogue', sans-serif;
    font-size: 36px;
    grid-column: col2 / col4;
    grid-row: row2 / row3;
    margin-top: 15px;
}

.stepSequencerMidiFXSelectorLabel_JanuaryA {
    color: #010204;
    font-family: 'Epilogue', sans-serif;
    font-size: 27px;
    grid-column: col4 / col5;
    grid-row: row2 / row4;
    margin-right: 5px;
    margin-top: 17px;
    text-align: right;
}

.stepSequencerMidiFXSelector_JanuaryA {
    background: transparent;
    border: none;
    color: #010204;
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    grid-column: col5 / col7;
    grid-row: row2 / row4;
    margin-bottom: 12px;
    margin-top: 10px;
    outline-color: #8f9193;
}

.stepSequencerMidiFXPresetSelectorLabel_JanuaryA {
    color: #010204;
    font-family: 'Epilogue', sans-serif;
    font-size: 27px;
    grid-column: col8 / col9;
    grid-row: row2 / row4;
    margin-right: 5px;
    margin-top: 17px;
    text-align: right;
}

.stepSequencerMidiFXPresetSelector_JanuaryA {
    background: transparent;
    border: none;
    color: #010204;
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    grid-column: col9 / col13;
    grid-row: row2 / row4;
    margin-bottom: 12px;
    margin-top: 10px;
    outline-color: #8f9193;
}

.stepSequencerMidiFXAddButton_JanuaryA {
    backdrop-filter: hue-rotate(-75deg);
    background: transparent;
    border: 2px solid #d2d6df;
    color: #d2d6df;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #868ea3);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    height: 35px;
    grid-column: col14 / col15;
    grid-row: row2 / row4;
    margin-top: 15px;
    outline-color: #8f9193;
    padding: 0 1px;
    z-index: 155;
}

.stepSequencerMidiFXAddButton_JanuaryA:hover {
    backdrop-filter: hue-rotate(75deg);
    border: 2px solid #253358;
    color: #253358;
    filter: brightness(245%) drop-shadow(4px 4px 5px #868ea3);
}

.stepSequencerMidiFXAddButton_JanuaryA:active {
    filter: brightness(85%) invert(100%) drop-shadow(0 0 0 #868ea3);
}

.stepSequencerSidebarContainer_JanuaryA {
    display: grid;
    grid-template-columns: [sideCol1] 13% [sideCol2] 1fr [sideCol3] 1fr [sideCol4] 1fr [sideCol5] 1fr [sideColEnd];
    grid-template-rows: [sideRow1] 1fr [sideRow2] 1fr [sideRow3] 1fr [sideRow4] 1fr [sideRow5] 1fr [sideRow6] 1fr [sideRow7] 1fr [sideRow8] 1fr [sideRow9] 1fr [sideRow10] 1fr [sideRow11] 1fr [sideRow12] 1fr [sideRow13] 1fr [sideRow14] 1fr [sideRow15] 1fr [sideRow16] 1fr [sideRow17] 1fr [sideRow18] 1fr [sideRow19] 1fr [sideRow20] 1fr [sideRow21] 1fr [sideRow22] 1fr [sideRow23] 1fr [sideRow24] 1fr [sideRowEnd];
    height: 100%;
    width: 100%;
}

.stepSequencerSaveButton_JanuaryA {
    backdrop-filter: hue-rotate(-75deg);
    background: transparent;
    border: 2px solid #d2d6df;
    color: #d2d6df;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #868ea3);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    height: 35px;
    grid-column: sideCol2 / sideCol4;
    grid-row: sideRow3 / sideRow4;
    margin: 2px 0 0 2px;
    outline-color: #8f9193;
    padding: 0 1px;
    width: 120px;
    z-index: 155;
}

.stepSequencerSaveButton_JanuaryA:hover {
    backdrop-filter: hue-rotate(75deg);
    border: 2px solid #253358;
    color: #253358;
    filter: brightness(245%) drop-shadow(4px 4px 5px #868ea3);
}

.stepSequencerSaveButton_JanuaryA:active {
    filter: brightness(85%) invert(100%) drop-shadow(0 0 0 #868ea3);
}

.stepSequencerSaveAsButton_JanuaryA {
    backdrop-filter: hue-rotate(-75deg);
    background: transparent;
    border: 2px solid #d2d6df;
    color: #d2d6df;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #868ea3);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    height: 35px;
    grid-column: sideCol2 / sideCol4;
    grid-row: sideRow5 / sideRow6;
    margin: 2px 0 0 2px;
    outline-color: #8f9193;
    padding: 0 1px;
    width: 120px;
    z-index: 155;
}

.stepSequencerSaveAsButton_JanuaryA:hover {
    backdrop-filter: hue-rotate(75deg);
    border: 2px solid #253358;
    color: #253358;
    filter: brightness(245%) drop-shadow(4px 4px 5px #868ea3);
}

.stepSequencerSaveAsButton_JanuaryA:active {
    filter: brightness(85%) invert(100%) drop-shadow(0 0 0 #868ea3);
}

.stepSequencerRevertButton_JanuaryA {
    backdrop-filter: hue-rotate(-75deg);
    background: transparent;
    border: 2px solid #d2d6df;
    color: #d2d6df;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #868ea3);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    height: 35px;
    grid-column: sideCol2 / sideCol4;
    grid-row: sideRow7 / sideRow8;
    margin: 2px 0 0 2px;
    outline-color: #8f9193;
    padding: 0 1px;
    width: 120px;
    z-index: 155;
}

.stepSequencerRevertButton_JanuaryA:hover {
    backdrop-filter: hue-rotate(75deg);
    border: 2px solid #253358;
    color: #253358;
    filter: brightness(245%) drop-shadow(4px 4px 5px #868ea3);
}

.stepSequencerRevertButton_JanuaryA:active {
    filter: brightness(85%) invert(100%) drop-shadow(0 0 0 #868ea3);
}

.stepSequencerInitialPatchSelect_JanuaryA {
    background: transparent;
    border: none;
    color: #9299ac;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    grid-column: bar / col8;
    grid-row: row1 / rowEnd;
    outline-color: #8f9193;
}

.stepSequencerPitchBendValueInput_JanuaryA {
    background: transparent;
    border: none;
    color: #9299ac;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    grid-column: valueDisplay / col8;
    grid-row: row1 / rowEnd;
    outline-color: #8f9193;
    text-align: right;
}

.stepSequencerEventNoteParameterValue_JanuaryA {
    background: transparent;
    border: none;
    color: #9299ac;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    grid-column: secondData / col8;
    grid-row: row1 / rowEnd;
    outline-color: #8f9193;
    text-align: right;
}

.stepSequencerEventControllerInput_JanuaryA {
    background: transparent;
    border: none;
    color: #9299ac;
    filter: brightness(150%) saturate(400%);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    grid-column: valueDisplay / secondData;
    grid-row: row1 / rowEnd;
    outline-color: #8f9193;
    text-align: right;
}

.stepSequencerEventSwitchtrue_JanuaryA {
    background: #6b7380;
    border: 1px solid #253358;
    box-sizing: border-box;
    color: #010204;
    cursor: pointer;
    grid-column: secondData / col8;
    grid-row: row1 / rowEnd;
    text-align: left;
    transition: all 0.2s linear;
}

.stepSequencerEventSwitchtrue_JanuaryA:hover {
    filter: brightness(150%) hue-rotate(45deg) saturate(200%);
    transition: all 0.2s linear;
}

.stepSequencerEventSwitchfalse_JanuaryA {
    background: transparent;
    border: 1px solid #d2d6df;
    box-sizing: border-box;
    color: #d2d6df;
    cursor: pointer;
    grid-column: secondData / col8;
    grid-row: row1 / rowEnd;
    text-align: right;
    transition: all 0.2s linear;
}

.stepSequencerEventSwitchfalse_JanuaryA:hover {
    filter: brightness(90%) hue-rotate(-45deg) saturate(100%);
    transition: all 0.2s linear;
}

.stepSequencerSaveAsDialogDiv_Active_JanuaryA {
    background: #868ea3;
    color: #010204;
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    height: auto;
    left: 30%;
    margin: 0 0 0 0;
    padding: 2%;
    position: absolute;
    top: 15%;
    transition: all 0.6s linear;
    width: 40%;
    z-index: 200;
}

.stepSequencerSaveAsDialogDiv_Inactive_JanuaryA {
    background: #868ea3;
    color: #010204;
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    height: auto;
    left: 30%;
    padding: 2%;
    position: absolute;
    top: -100%;
    transition: all 0.6s linear;
    width: 40%;
    z-index: 200;
}

.stepSequencerSaveAsInput_JanuaryA {
    background: #d2d6df;
    border: none;
    color: #0c0e0f;
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    margin: 5% 10% 3% 10%;
    outline-color: #8f9193;
    padding: 2px 5px;
    width: 80%;
}

.stepSequencerSaveAsButtonsDiv_JanuaryA {
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 7vh;
    justify-content: center;
    margin: 0 10% 1% 10%;
    width: 82%;
}

.stepSequencerSaveAsButtons_JanuaryA {
    backdrop-filter: hue-rotate(-75deg);
    background: transparent;
    border: 2px solid #d2d6df;
    color: #d2d6df;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #868ea3);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    height: 35px;
    grid-column: sideCol2 / sideCol5;
    grid-row: sideRow23 / sideRow24;
    margin: 0 45px;
    outline-color: #8f9193;
    padding: 0 15px;
}

.stepSequencerSaveAsButtons_JanuaryA:hover {
    backdrop-filter: hue-rotate(75deg);
    border: 2px solid #253358;
    color: #253358;
    filter: brightness(245%) drop-shadow(4px 4px 5px #868ea3);
}

.stepSequencerSaveAsButtons_JanuaryA:active {
    filter: brightness(85%) invert(100%) drop-shadow(0 0 0 #868ea3);
}

.stepSequencerLoadModal_Active_JanuaryA {
    background-image: url(https://events-168-hurdaudio.s3.amazonaws.com/stepSequencer/january/d8d2y1p-3300cbb4-b87c-4521-b5b8-9a40280d3284.jpg);
    background-size: cover;
    border: 2px solid #253358;
    box-shadow: 5px 5px 5px #0e1423;
    box-sizing: border-box;
    filter: invert(0%);
    height: 40vh;
    left: 20%;
    position: absolute;
    top: 15%;
    transition: all 0.45s linear;
    width: 40%;
    z-index: 300;
}

.stepSequencerLoadModal_Inactive_JanuaryB {
    background-image: url(https://events-168-hurdaudio.s3.amazonaws.com/stepSequencer/january/d8d2y1p-3300cbb4-b87c-4521-b5b8-9a40280d3284.jpg);
    background-size: cover;
    border: 2px solid #253358;
    box-shadow: 5px 5px 5px #0e1423;
    box-sizing: border-box;
    filter: invert(0%);
    height: 40vh;
    left: 120%;
    position: absolute;
    top: 15%;
    transition: all 0.45s linear;
    width: 40%;
    z-index: 300;
}

.stepSequencerLoadContainer_JanuaryA {
    backdrop-filter: blur(14px) saturate(20%);
    display: grid;
    grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [col9] 1fr [col10] 1fr [rightEdge];
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [row9] 1fr [rowEnd];
    height: 100%;
    width: 100%;
}

.stepSequencerLoadTitle_JanuaryA {
    color: #d2d6df;
    filter: brightness(150%) drop-shadow(8px 8px 5px #0e1423);
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    grid-column: col3 / col9;
    grid-row: row2 / row3;
}

.stepSequencerLoadSelector_JanuaryA {
    background: transparent;
    border: none;
    color: #d2d6df;
    filter: brightness(150%) drop-shadow(8px 8px 5px #0e1423);
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    grid-column: col2 / col10;
    grid-row: row4 / row5;
    outline-color: #8f9193;
}

.stepSequencerLoadLoadButton_JanuaryA {
    backdrop-filter: hue-rotate(-75deg);
    background: transparent;
    border: 2px solid #d2d6df;
    color: #d2d6df;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #868ea3);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    height: 35px;
    grid-column: col3 / col5;
    grid-row: row7 / row8;
    outline-color: #8f9193;
    padding: 0 15px;
}

.stepSequencerLoadLoadButton_JanuaryA:hover {
    backdrop-filter: hue-rotate(75deg);
    border: 2px solid #253358;
    color: #253358;
    filter: brightness(245%) drop-shadow(4px 4px 5px #868ea3);
}

.stepSequencerLoadLoadButton_JanuaryA:active {
    filter: brightness(85%) invert(100%) drop-shadow(0 0 0 #868ea3);
}

.stepSequencerLoadCancelButton_JanuaryA {
    backdrop-filter: hue-rotate(-75deg);
    background: transparent;
    border: 2px solid #d2d6df;
    color: #d2d6df;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #868ea3);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    height: 35px;
    grid-column: col7 / col9;
    grid-row: row7 / row8;
    outline-color: #8f9193;
    padding: 0 15px;
}

.stepSequencerLoadCancelButton_JanuaryA:hover {
    backdrop-filter: hue-rotate(75deg);
    border: 2px solid #253358;
    color: #253358;
    filter: brightness(245%) drop-shadow(4px 4px 5px #868ea3);
}

.stepSequencerLoadCancelButton_JanuaryA:active {
    filter: brightness(85%) invert(100%) drop-shadow(0 0 0 #868ea3);
}

.stepSequencerEventRepeatModal_Active_JanuaryA {
    background: #9299ac;
    border: 4px solid #253358;
    display: grid;
    grid-template-columns: [col1] 4.54% [col2] 4.54% [col3] 4.54% [col4] 4.54% [col5] 4.54% [col6] 4.54% [col7] 4.54% [col8] 4.54% [col9] 4.54% [col10] 4.54% [col11] 4.54% [col12] 4.54% [col13] 4.54% [col14] 4.54% [col15] 4.54% [col16] 4.54% [col17] 4.54% [col18] 4.54% [col19] 4.54% [col20] 4.54% [col21] 4.54% [col22] 4.54% [rightEdge];
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [row9] 1fr [row10] 1fr [row11] 1fr [row12] 1fr [rowEnd];
    height: 65vh;
    left: 20%;
    position: absolute;
    top: 15%;
    transition: all 0.5s linear;
    width: 60%;
    z-index: 201;
}

.stepSequencerEventRepeatModal_Inactive_JanuaryA {
    background: #9299ac;
    border: 4px solid #253358;
    display: grid;
    grid-template-columns: [col1] 4.54% [col2] 4.54% [col3] 4.54% [col4] 4.54% [col5] 4.54% [col6] 4.54% [col7] 4.54% [col8] 4.54% [col9] 4.54% [col10] 4.54% [col11] 4.54% [col12] 4.54% [col13] 4.54% [col14] 4.54% [col15] 4.54% [col16] 4.54% [col17] 4.54% [col18] 4.54% [col19] 4.54% [col20] 4.54% [col21] 4.54% [col22] 4.54% [rightEdge];
    grid-template-rows: [row1] 1fr [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [row9] 1fr [row10] 1fr [row11] 1fr [row12] 1fr [rowEnd];
    height: 65vh;
    left: 20%;
    position: absolute;
    top: 215%;
    transition: all 0.5s linear;
    width: 60%;
    z-index: 201;
}

.stepSequencerEventRepeaterTrackLabel_JanuaryA {
    color: #010204;
    grid-column: col2 / col23;
    grid-row: row1 / row2;
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    margin-top: 15px;
}

.stepSequencerEventRepeaterFromLabel_JanuaryA {
    color: #010204;
    grid-column: col3 / col4;
    grid-row: row3 / row4;
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
}

.stepSequencerEventRepeaterFromBarInput_JanuaryA {
    background: transparent;
    border: none;
    color: #010204;
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    grid-column: col3 / col4;
    grid-row: row4 / row5;
    outline-color: #8f9193;
    text-align: right;
}

.stepSequencerEventRepeaterBarDivider_JanuaryA {
    color: #010204;
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    grid-column: col4 / col5;
    grid-row: row4 / row5;
    margin-top: 8px;
}

.stepSequencerEventRepeaterFromBeatInput_JanuaryA {
    background: transparent;
    border: none;
    color: #010204;
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    grid-column: col5 / col6;
    grid-row: row4 / row5;
    outline-color: #8f9193;
    text-align: right;
}

.stepSequencerEventRepeaterBeatDivider_JanuaryA {
    color: #010204;
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    grid-column: col6 / col7;
    grid-row: row4 / row5;
    margin-top: 8px;
}

.stepSequencerEventRepeaterFromTicksInput_JanuaryA {
    background: transparent;
    border: none;
    color: #010204;
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    grid-column: col7 / col9;
    grid-row: row4 / row5;
    outline-color: #8f9193;
    text-align: left;
}

.stepSequencerEventRepeaterToLabel_JanuaryA {
    color: #010204;
    grid-column: col14 / col15;
    grid-row: row3 / row4;
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
}

.stepSequencerEventRepeaterToBarInput_JanuaryA {
    background: transparent;
    border: none;
    color: #010204;
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    grid-column: col14 / col15;
    grid-row: row4 / row5;
    outline-color: #8f9193;
    text-align: right;
}

.stepSequencerEventRepeaterToBarDivider_JanuaryA {
    color: #010204;
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    grid-column: col15 / col16;
    grid-row: row4 / row5;
    margin-top: 8px;
}

.stepSequencerEventRepeaterToBeatInput_JanuaryA {
    background: transparent;
    border: none;
    color: #010204;
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    grid-column: col16 / col17;
    grid-row: row4 / row5;
    outline-color: #8f9193;
    text-align: right;
}

.stepSequencerEventRepeaterToBeatDivider_JanuaryA {
    color: #010204;
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    grid-column: col17 / col18;
    grid-row: row4 / row5;
    margin-top: 8px;
}

.stepSequencerEventRepeaterToTicksInput_JanuaryA {
    background: transparent;
    border: none;
    color: #010204;
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    grid-column: col18 / col20;
    grid-row: row4 / row5;
    outline-color: #8f9193;
    text-align: left;
}

.stepSequencerEventRepeaterStartingAtLabel_JanuaryA {
    color: #010204;
    grid-column: col3 / col7;
    grid-row: row7 / row8;
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
}

.stepSequencerEventRepeaterStartBarInput_JanuaryA {
    background: transparent;
    border: none;
    color: #010204;
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    grid-column: col3 / col4;
    grid-row: row8 / row9;
    outline-color: #8f9193;
    text-align: right;
}

.stepSequencerEventRepeaterStartBarDivider_JanuaryA {
    color: #010204;
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    grid-column: col4 / col5;
    grid-row: row8 / row9;
    margin-top: 8px;
}

.stepSequencerEventRepeaterStartBeatInput_JanuaryA {
    background: transparent;
    border: none;
    color: #010204;
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    grid-column: col5 / col6;
    grid-row: row8 / row9;
    outline-color: #8f9193;
    text-align: right;
}

.stepSequencerEventRepeaterStartBeatDivider_JanuaryA {
    color: #010204;
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    grid-column: col6 / col7;
    grid-row: row8 / row9;
    margin-top: 8px;
}

.stepSequencerEventRepeaterStartTicksInput_JanuaryA {
    background: transparent;
    border: none;
    color: #010204;
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    grid-column: col7 / col9;
    grid-row: row8 / row9;
    outline-color: #8f9193;
    text-align: left;
}

.stepSequencerEventRepeaterNumberOfLabel_JanuaryA {
    color: #010204;
    grid-column: col14 / col23;
    grid-row: row7 / row8;
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
}

.stepSequencerEventRepeaterNumberOfInput_JanuaryA {
    background: transparent;
    border: none;
    color: #010204;
    font-family: 'Epilogue', sans-serif;
    font-size: 24px;
    grid-column: col14 / col15;
    grid-row: row8 / row9;
    outline-color: #8f9193;
    text-align: right;
}

.stepSequencerEventRepeaterNumberOfTimeTimes_JanuaryA {
    color: #010204;
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    grid-column: col15 / col16;
    grid-row: row8 / row9;
    margin-top: 14px;
}

.stepSequencerRepeaterSubmitButton_JanuaryA {
    backdrop-filter: hue-rotate(-75deg);
    background: transparent;
    border: 2px solid #010204;
    color: #010204;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #868ea3);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    grid-column: col8 / col11;
    grid-row: row11 / row12;
    outline-color: #8f9193;
    z-index: 155;
}

.stepSequencerRepeaterSubmitButton_JanuaryA:hover {
    backdrop-filter: hue-rotate(75deg);
    border: 2px solid #253358;
    color: #253358;
    filter: brightness(245%) drop-shadow(4px 4px 5px #868ea3);
}

.stepSequencerRepeaterSubmitButton_JanuaryA:active {
    filter: brightness(85%) invert(100%) drop-shadow(0 0 0 #868ea3);
}

.stepSequencerRepeaterCancelButton_JanuaryA {
    backdrop-filter: hue-rotate(-75deg);
    background: transparent;
    border: 2px solid #010204;
    color: #010204;
    cursor: pointer;
    filter: brightness(150%) drop-shadow(8px 8px 5px #868ea3);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    grid-column: col13 / col16;
    grid-row: row11 / row12;
    outline-color: #8f9193;
    z-index: 155;
}

.stepSequencerRepeaterCancelButton_JanuaryA:hover {
    backdrop-filter: hue-rotate(75deg);
    border: 2px solid #253358;
    color: #253358;
    filter: brightness(245%) drop-shadow(4px 4px 5px #868ea3);
}

.stepSequencerRepeaterCancelButton_JanuaryA:active {
    filter: brightness(85%) invert(100%) drop-shadow(0 0 0 #868ea3);
}