.midiManagerContainer_Active_FebruaryC {
    filter: blur(0);
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    pointer-events: all;
    position: absolute;
    top: 0;
    transition: all 0.3s linear;
    width: 100%;
    z-index: 100;
}

.midiManagerContainer_Inactive_FebruaryC {
    filter: blur(10px);
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: all 0.3s linear;
    width: 100%;
    z-index: 100;
}

.midiManagerImageDiv_FebruaryC {
    background-image: url(https://events-168-hurdaudio.s3.amazonaws.com/midi-manager/february/annisa-ica-gJywbW97Dgg-unsplash.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: [col1] 6.25% [col2] 6.25% [col3] 6.25% [col4] 6.25% [col5] 12.5% [col6] 12.5% [col7] 12.5% [col8] 12.5% [col9] 12.5% [col10] 12.5% [rightEdge];
    grid-template-rows: [row1] 6.25% [row2] 1fr [row3] 1fr [row4] 1fr [row5] 1fr [row6] 1fr [row7] 1fr [row8] 1fr [row9] 1fr [row10] 1fr [rowEnd];
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 30;
}

.midiManagerTopBar_FebruaryC {
    backdrop-filter: blur(23px) brightness(140%) contrast(200%) hue-rotate(-90deg) saturate(100%);
    grid-column: col1 / rightEdge;
    grid-row: row1 / row2;
}

.midiManagerNavImage_FebruaryC {
    cursor: pointer;
    filter: contrast(70%);
    grid-column: col1 / col2;
    grid-row: row1 / row2;
    margin: 3px 0 0 5px;
    transform: rotateZ(180deg);
    transition: all 0.2s linear;
    width: 3%;
}

.midiManagerNavImage_FebruaryC:hover {
    filter: contrast(90%);
    transform: rotateZ(210deg);
    transition: all 0.2s linear;
}

.midiManagerTitle_FebruaryC {
    color: #02091b;
    filter: brightness(100%) contrast(150%);
    font-family: 'Piazzolla', serif;
    font-size: 36px;
    grid-column: col3 / col7;
    grid-row: row1 / row2;
    margin: 9px;
    z-index: 55;
}

.midiManagerPanicButton_FebruaryC {
    background: transparent;
    border: none;
    color: #02091b;
    cursor: pointer;
    filter: brightness(100%) contrast(150%);
    font-family: 'Piazzolla', serif;
    font-size: 24px;
    grid-column: col10 / rightEdge;
    grid-row: row1 / row2;
    z-index: 56;
}

.midiManagerSidebarManager_FebruaryC {
    backdrop-filter: blur(92px) brightness(60%) sepia(60%);
    border-right: 2px groove #5d9be6;
    box-sizing: border-box;
    grid-column: col1 / col3;
    grid-row: row2 / rowEnd;
    opacity: 0.85;
}

.midiManagerSidebarContainer_FebruaryC {
    display: grid;
    grid-template-columns: [sideCol1] 1fr [sideCol2] 1fr [sideCol3] 1fr [sideCol4] 1fr [sideCol5] 1fr [sideColEnd];
    grid-template-rows: [sideRow1] 1fr [sideRow2] 1fr [sideRow3] 1fr [sideRow4] 1fr [sideRow5] 1fr [sideRow6] 1fr [sideRow7] 1fr [sideRow8] 1fr [sideRow9] 1fr [sideRow10] 1fr [sideRow11] 1fr [sideRow12] 1fr [sideRow13] 1fr [sideRow14] 1fr [sideRow15] 1fr [sideRow16] 1fr [sideRow17] 1fr [sideRow18] 1fr [sideRow19] 1fr [sideRow20] 1fr [sideRow21] 1fr [sideRow22] 1fr [sideRow23] 1fr [sideRow24] 1fr [sideRowEnd];
    height: 100%;
    width: 100%;
}

.midiManagerCheckConnections_FebruaryC {
    backdrop-filter: contrast(200%) hue-rotate(135deg);
    background: transparent;
    border: 2px solid #c0dcf6;
    color: #c0dcf6;
    cursor: pointer;
    filter: brightness(120%) drop-shadow(8px 8px 5px #12264b);
    font-family: 'Piazzolla', serif;
    font-size: 18px;
    grid-column: sideCol2 / sideCol5;
    grid-row: sideRow2 / sideRow3;
    outline-color: #8e98b6;
    transition: all 0.4s linear;
}

.midiManagerCheckConnections_FebruaryC:hover {
    backdrop-filter: hue-rotate(-135deg);
    border: 2px solid #2e61bc;
    color: #2e61bc;
    filter: brightness(160%) drop-shadow(2px 6px 5px #12264b);
    transition: all 0.4s linear;
}

.midiManagerCheckConnections_FebruaryC:active {
    filter: drop-shadow(0 0 0 #12264b) invert(100%);
    transition: all 0.1s linear;
}

.midiManagerSaveConfigurationfalse_FebruaryC {
    display: none;
}

.midiManagerSaveConfigurationtrue_FebruaryC {
    backdrop-filter: contrast(200%) hue-rotate(135deg);
    background: transparent;
    border: 2px solid #c0dcf6;
    color: #c0dcf6;
    cursor: pointer;
    filter: brightness(120%) drop-shadow(8px 8px 5px #12264b);
    font-family: 'Piazzolla', serif;
    font-size: 18px;
    grid-column: sideCol2 / sideCol5;
    grid-row: sideRow4 / sideRow5;
    outline-color: #8e98b6;
    transition: all 0.4s linear;
}

.midiManagerSaveConfigurationtrue_FebruaryC:hover {
    backdrop-filter: hue-rotate(-135deg);
    border: 2px solid #2e61bc;
    color: #2e61bc;
    filter: brightness(160%) drop-shadow(2px 6px 5px #12264b);
    transition: all 0.4s linear;
}

.midiManagerSaveConfigurationtrue_FebruaryC:active {
    filter: drop-shadow(0 0 0 #12264b) invert(100%);
    transition: all 0.1s linear;
}

.midiManagerSaveAsConfiguration_FebruaryC {
    backdrop-filter: contrast(200%) hue-rotate(135deg);
    background: transparent;
    border: 2px solid #c0dcf6;
    color: #c0dcf6;
    cursor: pointer;
    filter: brightness(120%) drop-shadow(8px 8px 5px #12264b);
    font-family: 'Piazzolla', serif;
    font-size: 18px;
    grid-column: sideCol2 / sideCol5;
    grid-row: sideRow6 / sideRow7;
    outline-color: #8e98b6;
    transition: all 0.4s linear;
}

.midiManagerSaveAsConfiguration_FebruaryC:hover {
    backdrop-filter: hue-rotate(-135deg);
    border: 2px solid #2e61bc;
    color: #2e61bc;
    filter: brightness(160%) drop-shadow(2px 6px 5px #12264b);
    transition: all 0.4s linear;
}

.midiManagerSaveAsConfiguration_FebruaryC:active {
    filter: drop-shadow(0 0 0 #12264b) invert(100%);
    transition: all 0.1s linear;
}

.midiManagerRevertConfigurationfalse_FebruaryC {
    display: none;
}

.midiManagerRevertConfigurationtrue_FebruaryC {
    backdrop-filter: contrast(200%) hue-rotate(135deg);
    background: transparent;
    border: 2px solid #c0dcf6;
    color: #c0dcf6;
    cursor: pointer;
    filter: brightness(120%) drop-shadow(8px 8px 5px #12264b);
    font-family: 'Piazzolla', serif;
    font-size: 18px;
    grid-column: sideCol2 / sideCol5;
    grid-row: sideRow8 / sideRow9;
    outline-color: #8e98b6;
    transition: all 0.4s linear;
}

.midiManagerRevertConfigurationtrue_FebruaryC:hover {
    backdrop-filter: hue-rotate(-135deg);
    border: 2px solid #2e61bc;
    color: #2e61bc;
    filter: brightness(160%) drop-shadow(2px 6px 5px #12264b);
    transition: all 0.4s linear;
}

.midiManagerRevertConfigurationtrue_FebruaryC:active {
    filter: drop-shadow(0 0 0 #12264b) invert(100%);
    transition: all 0.1s linear;
}

.midiManagerPresetsLabel_FebruaryC {
    color: #c0dcf6;
    filter: brightness(150%) contrast(150%);
    font-family: 'Piazzolla', serif;
    font-size: 18px;
    grid-column: sideCol2 / sideCol5;
    grid-row: sideRow10 / sideRow11;
}

.midiManagerPresetsList_FebruaryC {
    backdrop-filter: hue-rotate(95deg);
    background: transparent;
    border: 2px solid #c0dcf6;
    box-sizing: border-box;
    filter: brightness(100%) drop-shadow(8px 8px 5px #12264b);
    grid-column: sideCol1 / sideColEnd;
    grid-row: sideRow11 / sideRow19;
    margin: 0 5%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.midiManagerLoadConfiguration_FebruaryC {
    backdrop-filter: contrast(200%) hue-rotate(135deg);
    background: transparent;
    border: 2px solid #c0dcf6;
    color: #c0dcf6;
    cursor: pointer;
    filter: brightness(120%) drop-shadow(8px 8px 5px #12264b);
    font-family: 'Piazzolla', serif;
    font-size: 18px;
    grid-column: sideCol2 / sideCol5;
    grid-row: sideRow20 / sideRow21;
    outline-color: #8e98b6;
    transition: all 0.4s linear;
}

.midiManagerLoadConfiguration_FebruaryC:hover {
    backdrop-filter: hue-rotate(-135deg);
    border: 2px solid #2e61bc;
    color: #2e61bc;
    filter: brightness(160%) drop-shadow(2px 6px 5px #12264b);
    transition: all 0.4s linear;
}

.midiManagerLoadConfiguration_FebruaryC:active {
    filter: drop-shadow(0 0 0 #12264b) invert(100%);
    transition: all 0.1s linear;
}

.midiManagerDeleteConfiguration_FebruaryC {
    backdrop-filter: contrast(200%) hue-rotate(135deg);
    background: transparent;
    border: 2px solid #c0dcf6;
    color: #c0dcf6;
    cursor: pointer;
    filter: brightness(120%) drop-shadow(8px 8px 5px #12264b);
    font-family: 'Piazzolla', serif;
    font-size: 18px;
    grid-column: sideCol2 / sideCol5;
    grid-row: sideRow22 / sideRow23;
    outline-color: #8e98b6;
    transition: all 0.4s linear;
}

.midiManagerDeleteConfiguration_FebruaryC:hover {
    backdrop-filter: hue-rotate(-135deg);
    border: 2px solid #2e61bc;
    color: #2e61bc;
    filter: brightness(160%) drop-shadow(2px 6px 5px #12264b);
    transition: all 0.4s linear;
}

.midiManagerDeleteConfiguration_FebruaryC:active {
    filter: drop-shadow(0 0 0 #12264b) invert(100%);
    transition: all 0.1s linear;
}

.midiManagerPresetNameContainertrue_FebruaryC {
    background: #5d9be6;
    padding: 5px 10px;
    transform: rotateX(0deg);
}

.midiManagerPresetNameContainerfalse_FebruaryC {
    background: transparent;
    cursor: pointer;
    padding: 5px 5px;
    transform: rotateX(25deg);
    transition: transform 0.1s linear;
}

.midiManagerPresetNameContainerfalse_FebruaryC:hover {
    transform: rotateX(0deg);
    transition: transform 0.1s linear;
}

.midiManagerPresetNametrue_FebruaryC {
    color: #02091b;
    font-family: 'Piazzolla', serif;
    font-size: 18px; 
    margin: 3px 0 3px 0;
}

.midiManagerPresetNamefalse_FebruaryC {
    color: #c0dcf6;
    font-family: 'Piazzolla', serif;
    filter: brightness(150%);
    font-size: 18px; 
    margin: 0;
}

.midiManagerPresetNamefalse_FebruaryC:hover {
    color: #5d9be6;
}

.midiManagerInputsPane_FebruaryC {
    backdrop-filter: blur(38px) hue-rotate(-45deg);
    grid-column: col3 / col6;
    grid-row: row2 / rowEnd;
}

.midiManagerOutputsPane_FebruaryC {
    backdrop-filter: blur(28px) hue-rotate(45deg);
    grid-column: col6 / col8;
    grid-row: row2 / rowEnd;
}

.midiManagerInputDetailsPane_FebruaryC {
    backdrop-filter: blur(17px) brightness(90%) contrast(110%) hue-rotate(90deg);
    grid-column: col8 / rightEdge;
    grid-row: row2 / row5;
}

.midiManagerOutputDetailsPane_FebruaryC {
    backdrop-filter: blur(22px) brightness(60%) contrast(140%) hue-rotate(-90deg);
    grid-column: col8 / rightEdge;
    grid-row: row5 / row8;
}

.midiManagerDeviceDetailsPane_FebruaryC {
    backdrop-filter: blur(12px) brightness(50%) contrast(200%);
    grid-column: col8 / rightEdge;
    grid-row: row8 / rowEnd;
}

.midiManagerInputsContainer_FebruaryC {
    display: grid;
    grid-template-columns: [inCol1] 1fr [inCol2] 1fr [inCol3] 1fr [inCol4] 1fr [inCol5] 1fr [inCol6] 1fr [inCol7] 1fr [inCol8] 1fr [inColEnd];
    grid-template-rows: [inRow1] 1fr [inRow2] 1fr [inRow3] 1fr [inRow4] 1fr [inRow5] 1fr [inRow6] 1fr [inRow7] 1fr [inRow8] 1fr [inRow9] 1fr [inRow10] 1fr [inRow11] 1fr [inRow12] 1fr [inRow13] 1fr [inRow14] 1fr [inRow15] 1fr [inRow16] 1fr [inRow17] 1fr [inRow18] 1fr [inRow19] 1fr [inRow20] 1fr [inRow21] 1fr [inRow22] 1fr [inRow23] 1fr [inRow24] 1fr [inRowEnd];
    height: 100%;
    width: 100%;
}

.midiManagerInputsPaneLabel_FebruaryC {
    color: #c0dcf6;
    filter: brightness(130%);
    font-family: 'Piazzolla', serif;
    font-size: 24px;
    grid-column: inCol2 / inCol8;
    grid-row: inRow2 / inRow3;
}

.midiManagerInputsTable_FebruaryC {
    background: transparent;
    border: 2px groove #5d9be6;
    box-sizing: border-box;
    filter: drop-shadow(8px 8px 5px #12264b);
    grid-column: inCol2 / inCol8;
    grid-row: inRow3 / inRow24;
    overflow-x: hidden;
    overflow-y: scroll;
}

.midiManagerInputEntryDiv_FebruaryC {
    border-bottom: 1px groove #5d9be6;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: auto;
    padding: 27px 15px;
    width: 100%;
}

.midiManagerInputControlSwitchDiv_FebruaryC {
    border: 1px groove #5d9be6;
    box-sizing: border-box;
    cursor: pointer;
    height: 45px;
    margin: 3px;
    width: 20%;
}

.midiManagerInputControlSwitchfalse_FebruaryC {
    background: radial-gradient(closest-corner, transparent, #061745, transparent);
    filter: brightness(50%) saturate(50%);
    height: 100%;
    transition: all 0.25s linear;
    width: 100%;
}

.midiManagerInputControlSwitchtrue_FebruaryC {
    background: radial-gradient(closest-corner, #c0dcf6, transparent, #c0dcf6);
    filter: brightness(200%) saturate(150%);
    height: 100%;
    transition: all 0.25s linear;
    width: 100%;
}

.midiManagerInputLabel_FebruaryC {
    color: #c0dcf6;
    cursor: pointer;
    filter: brightness(130%);
    font-family: 'Piazzolla', serif;
    font-size: 18px;
    margin: 20px 5px 5px 9px;
    width: 75%;
}

.midiManagerInputLabel_FebruaryC:hover {
    color: #417ed9;
    filter: brightness(200%);
}

.midiManagerHardwareInputLabel_FebruaryC {
    color: #c0dcf6;
    filter: brightness(130%);
    font-family: 'Piazzolla', serif;
    font-size: 12px;
    margin: 3px 5px 1px 9px;
    width: 100%;
}

.midiManagerInputDetailContainer_FebruaryC {
    display: grid;
    grid-template-columns: [inDCol1] 1fr [inDCol2] 1fr [inDCol3] 1fr [inDCol4] 1fr [inDCol5] 1fr [inDCol6] 1fr [inDCol7] 1fr [inDCol8] 1fr [inDCol9] 1fr [inDCol10] 1fr [inDCol11] 1fr [inDCol12] 1fr [inDColEnd];
    grid-template-rows: [inDRow1] 1fr [inDRow2] 1fr [inDRow3] 1fr [inDRow4] 1fr [inDRow5] 1fr [inDRow6] 1fr [inDRow7] 1fr [inDRow8] 1fr [inDRow9] 1fr [inDRow10] 1fr [inDRow11] 1fr [inDRow12] 1fr [inDRowEnd];
    height: 100%;
    width: 100%;
}

.midiManagerInputDetailLabel_FebruaryC {
    color: #02091b;
    filter: brightness(130%);
    font-family: 'Piazzolla', serif;
    font-size: 18px;
    grid-column: inDCol2 / inDCol7;
    grid-row: inDRow2 / inDRow3;
}

.midiManagerInputDetailBox_FebruaryC {
    grid-column: inDCol2 / inDCol12;
    grid-row: inDRow3 / inDRow12;
    padding: 5px;
}

.midiManagerMidiInLabelAndPort_FebruaryC {
    color: #02091b;
    filter: brightness(130%);
    font-family: 'Piazzolla', serif;
    font-size: 13px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.midiManagerMidiInLabelLabel_FebruaryC {
    color: #02091b;
    filter: brightness(130%);
    font-family: 'Piazzolla', serif;
    font-size: 18px;
    margin-bottom: 6px;
}

.midiManagerInInputForLabel_FebruaryC {
    background: #97b0de;
    border: none;
    color: #02091b;
    font-family: 'Piazzolla', serif;
    font-size: 18px;
    outline-color: #8e98b6;
    width: 100%;
}

.midiManagerMidiInDeviceLabel_FebruaryC {
    color: #02091b;
    filter: brightness(130%);
    font-family: 'Piazzolla', serif;
    font-size: 18px;
    margin-bottom: 6px;
    margin-top: 15px;
}

.midiManagerDeviceSelect_FebruaryC {
    background: #97b0de;
    border: none;
    border-radius: 0;
    color: #02091b;
    font-family: 'Piazzolla', serif;
    font-size: 18px;
    outline-color: #8e98b6;
    width: 100%;
}

.midiManagerSelectMidiChannelDiv_FebruaryC {
    display: flex;
}

.midiManagerSubDivSelect_FebruaryC {
    width: 75%;
}

.midiManagerMidiChannelOnlyDiv_FebruaryC {
    padding-left: 20px;
    width: 35%;
}

.midiManagerInputMidiChannelLabel_FebruaryC {
    color: #02091b;
    filter: brightness(130%);
    font-family: 'Piazzolla', serif;
    font-size: 18px;
    margin-bottom: 6px;
    margin-top: 15px; 
}

.midiManagerMidiChannelInputInput_FebruaryC {
    background: #97b0de;
    border: none;
    border-radius: 0;
    color: #02091b;
    font-family: 'Piazzolla', serif;
    font-size: 18px;
    margin-left: 20px;
    outline-color: #8e98b6;
    width: 50%;
}

.midiManagerOutputDetailLabel_FebruaryC {
    color: #c0dcf6;
    filter: brightness(130%);
    font-family: 'Piazzolla', serif;
    font-size: 18px;
    grid-column: inDCol2 / inDCol7;
    grid-row: inDRow2 / inDRow3;
}

.midiManagerMidiOutLabelAndPort_FebruaryC {
    color: #c0dcf6;
    filter: brightness(130%);
    font-family: 'Piazzolla', serif;
    font-size: 13px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.midiManagerMidiOutLabelLabel_FebruaryC {
    color: #c0dcf6;
    filter: brightness(130%);
    font-family: 'Piazzolla', serif;
    font-size: 18px;
    margin-bottom: 6px;
}

.midiManagerMidiOutDeviceLabel_FebruaryC {
    color: #c0dcf6;
    filter: brightness(130%);
    font-family: 'Piazzolla', serif;
    font-size: 18px;
    margin-bottom: 6px;
    margin-top: 15px;
}

.midiManagerOutputMidiChannelLabel_FebruaryC {
    color: #c0dcf6;
    filter: brightness(130%);
    font-family: 'Piazzolla', serif;
    font-size: 18px;
    margin-bottom: 6px;
    margin-top: 15px;
}

.midiManagerDeviceImage_FebruaryC {
    filter: drop-shadow(8px 8px 5px #12264b);
    margin-left: 10%;
    max-height: 31vh;
    max-width: 80%;
}

.midiManagerNameNewPatchModal_Active_FebruaryC {
    background: #97b0de;
    border: 4px groove #334a5e;
    filter: drop-shadow(8px 8px 5px #12264b);
    height: auto;
    left: 20%;
    padding: 45px;
    position: absolute;
    top: 20%;
    transition: all 0.55s linear;
    width: auto;
    z-index: 200;
}

.midiManagerNameNewPatchModal_Inactive_FebruaryC {
    background: #97b0de;
    border: 4px groove #334a5e;
    filter: drop-shadow(8px 8px 5px #12264b);
    height: auto;
    left: -160%;
    padding: 45px;
    position: absolute;
    top: 20%;
    transition: all 0.55s linear;
    width: auto;
    z-index: 200;
}

.midiManagerNewPresetNameLabel_FebruaryC {
    color: #02091b;
    filter: brightness(100%);
    font-family: 'Piazzolla', serif;
    font-size: 24px;
    margin: 0 0 15px 0;
}

.midiManagerNewPresetNameInput_FebruaryC {
    background: #c0dcf6;
    border: none;
    color: #02091b;
    font-family: 'Piazzolla', serif;
    font-size: 24px;
    outline-color: #8e98b6;
    margin: 0 0 20px 0;
    width: 30vw;
}

.midiManagerNewPresetNameModalButtons_FebruaryC {
    display: flex;
    height: auto;
    margin: 0 0 5px 0;
    padding: 0 25%;
    width: 30vw;
}

.midiManagerModalButton_FebruaryC {
    backdrop-filter: contrast(200%) hue-rotate(135deg);
    background: transparent;
    border: 2px solid #02091b;
    color: #02091b;
    cursor: pointer;
    filter: brightness(120%) drop-shadow(8px 8px 5px #12264b);
    font-family: 'Piazzolla', serif;
    font-size: 18px;
    margin: 15px;
    outline-color: #8e98b6;
    transition: all 0.4s linear;
}

.midiManagerModalButton_FebruaryC:hover {
    backdrop-filter: hue-rotate(-135deg);
    border: 2px solid #334a5e;
    color: #334a5e;
    filter: brightness(160%) drop-shadow(2px 6px 5px #12264b);
    transition: all 0.4s linear;
}

.midiManagerModalButton_FebruaryC:active {
    filter: drop-shadow(0 0 0 #12264b) invert(100%);
    transition: all 0.1s linear;
}

.midiManagerGuardrailModalButtons_FebruaryC {
    display: flex;
    height: auto;
    margin: 0 0 5px 0;
    padding: 0 35%;
    width: 90%;
}

.midiManagerPanicOff_FebruaryC {
    display: none;
}

.midiManagerPanicOn_FebruaryC {
    height: 80%;
    left: 25%;
    opacity: 0.8;
    position: absolute;
    top: 15%;
    width: 70%;
    z-index: 200;
}

.midiManagerPanicOn_FebruaryC img {
    opacity: 1;
    width: 80%;
}